:root{
    --width_xs: 8px;    /*extra small*/
    --width_s: 16px;    /*small*/
    --width_m: 24px;    /*medium*/
    --width_l: 32px;    /*large*/
    --width_xl: 40px;    /*extra large*/
    --height_s: 16px;    /*small*/
    --height_m: 24px;    /*medium*/
    --height_l: 32px;    /*large*/
    --height_xl: 40px;    /*extra large*/
    --font_12: 12px;
    --font_14: 14px;
    --font_16: 16px;
    --font_20: 20px;
}
body{
    font-family: Verdana,sans-serif;;
}

.navbar-container{
    margin-right: 25px;
}
.navbar{
    background-color: white;
    border-bottom: 1px solid #88da34;
}

.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-right-radius: .25rem;
    border-top-left-radius: .25rem;
    border-left: 2px solid #e7ecea;
}

.nav-tabs .nav-link.active {
    color: #464a4c;
    background-color: #fff;
    border-color: #ddd #ddd #fff;
    border-bottom: 3px solid #5495d8;
}

body{
    background-color: #f5f5f5;
}

::-webkit-scrollbar-track
{
    border-radius: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 8px;
    background-color: #ccc;
}

::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: #ccc;
}


.border-right-green{
    border-right: 2px solid green;
}
.border{
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
#search::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: white;
}
#search::-moz-placeholder { /* Firefox 19+ */
    color: white;
}
#search:-ms-input-placeholder { /* IE 10+ */
    color: white;
}
#search:-moz-placeholder { /* Firefox 18- */
    color: white;
}
.bg-light{
    background-color: white;
}

.tab-content{
    background-color: white;
    border: 1px solid transparent;
    border-color: #ddd #ddd #fff;
    height: 75vh;
    overflow-y: scroll;
}
.tab-content{
    border-top: none;
}
.appointment-details{
    padding: 25px;
    font-size: 15px;
}

.list-inline {
    white-space:nowrap;
    overflow: scroll;
}
.medicin-unit label{
    border: 0.5px solid #00b050;
    font-size: 12px;
}
.medicin-unit .active, .food .active, .duration .active, .waiver .active{
    background-color:  #00b050;
    font-size: 12px;
}

.timings .morning{
    background-image:  url('../img/mor.png');
}
.timings .morning.active{
    background-image:  url('../img/morG.png');
}
.timings .noon{
    background-image:  url('../img/noon.png');
}
.timings .noon.active{
    background-image:  url('../img/noonG.png');
}
.timings .night{
    background-image:  url('../img/nigh.png');
}
.timings .night.active{
    background-image:  url('../img/nighG.png');
}
.timings .btn-group{
    height: 50px;
    width: 50px;
}
#publisher, #subscriber{
    height: 100%;
    width: 100%;
}
#publisher #publisher-container, #subscriber #subscriber-container{
    width: 100%;
    height: 100%;
}
#subscriber .message{
    width: 100%;
    height: 100%;
    background: #33333321;
    opacity: 0.5;
    color: black;
    text-align: center;
    display: table;
}
#subscriber .message .text, #subscriber .message .spinner{
    color: black;
    display: table-cell;
    vertical-align: middle;
}

#publisher{
    position: absolute;
    width: 150px;
    height: 126px;
    bottom: 0px;
    z-index: 100;
}
#publisher:hover{
    border: 0.2px solid white;
    box-shadow: 0px 0px 20px 1px white;
}

.App-control-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.App-control-container.hidden {
    display: none;
}

.App-control-container .ots-video-control {
    width: 50px;
    height: 50px;
    margin: 20px 0 !important;
    border: 2px solid white;
    background-position: center;
    background-color: rgba(27, 134, 144, 0.4);
    background-color: rgba(211, 211, 211, 0.32);
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 50;
}
.circle{
    border-radius: 50%;
}
.App-control-container .ots-video-control.audio {
    background-image: url(https://assets.tokbox.com/solutions/images/icon-mic.png);
}

.App-control-container .ots-video-control.audio:hover, .App-control-container .ots-video-control.audio.muted {
    background-image: url(https://assets.tokbox.com/solutions/images/icon-muted-mic.png);
}

.App-control-container .ots-video-control.video {
    background-image: url(https://assets.tokbox.com/solutions/images/icon-video.png);
}

.App-control-container .ots-video-control.video.muted,
.App-control-container .ots-video-control.video:hover {
    background-image: url(https://assets.tokbox.com/solutions/images/icon-no-video.png);
}
#close-vedio-consultation{
    background-image: url(https://tokbox.com/developer/tools/playground/img/icons/force_unpublish.png);
}
.App-control-container .ots-video-control.full-screen {
    background-image: url(../img/exp.png);
}

.App-control-container .ots-video-control.full-screen-off {
    background-image: url(../img/resto.png);
}

.appointment-info.show-full-screen{
    height: 80vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.controls-group{
    position: absolute;
    left: 40%;
}
.content-container.container{
    width: 100%;
}

.appointment-type .VC{
    color: #1f7bf3;
    cursor: pointer;
    font-size: 18px;
    text-align: right;
    /*   background-image: url(../img/vidiCon.png); */
}

.appointment-type .PC{
    color: #1f7bf3;
    cursor: pointer;
    font-size: 18px;
    text-align: right;

    /* background-image: url(../img/pc.png); */
}

/*
.bootstrap-iso .formden_header h2, .bootstrap-iso .formden_header p, .bootstrap-iso form{font-family: Arial, Helvetica, sans-serif; color: black}.bootstrap-iso form button, .bootstrap-iso form button:hover{color: #ffffff !important;} .asteriskField{color: red;}
*/
.no-padding{
    padding: 0;
}
#filter{
    font-size: 14px;
}
#filter input{
    line-height: 16px;
}
.prev{
    padding: 4px 8px 4px 8px;
    cursor: pointer;
}
.prev:hover, .next:hover{
    border: 0.5px solid #cccccc;
    border-radius: 16px;
}
.next{
    padding: 4px 8px 4px 8px;
    cursor: pointer;
}
#filter .dropdown-toggle:after{
    display: none !important;
}

#p_check{
    width:35%;
}

.closed{
    background-color: #00b050;
    font-size: 12px;
}
.booked{
    background-color: #bf800c;
    font-size: 12px;

}
.inprogress{
    background-color: #0275d8;
    font-size: 12px;
}

.pending{
    background-color: #843534;
    font-size: 12px;
}

.expired{
    background-color: #840755;
    font-size: 12px;
}
.apmt_time{
    font-size: 14px;
}

#close-button{
    color:red;
}

.test_id{
    width:474.25px;
    position: relative;
    display: block;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #464a4c;
    background-color: #fff;
    background-image: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;

}

/* The snackbar - position it at the bottom and in the middle of the screen */
#toaster {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the toaster */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the toaster when clicking on a button (class added with JavaScript) */
#toaster.show {
    visibility: visible; /* Show the toaster */

    /* Add animation: Take 0.5 seconds to fade in and out the toaster.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the toaster in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
#appointment-list{
    height: 75vh;
    overflow: auto;
    cursor: pointer;
}

.appointment:hover {
    background: #e9ffe0;
}
#hs-name-container{
    position: absolute;
    padding: 10px;
    z-index: 1;
    color: white;
}
#timer{
    position: absolute;
    color: white;
    bottom: 10px;
    z-index: 1;
    right: 20px;
}


::-webkit-input-placeholder {
    font-size: 12px!important;
}

:-moz-placeholder { /* Firefox 18- */
    font-size: 12px!important;
}
::-moz-placeholder {  /* Firefox 19+ */
    font-size: 12px!important;
}

.custom-select{
    font-size:12px;
}
#start-vedio-consultation{
    color: #fff;
    background-color: #5cb85c;
    border-color: #5cb85c;
    padding-top: 11px;
    border-bottom: 3px solid #5495d8;
}

.font-12{
    font-size: 12px;
}

.font-14{
    font-size: 14px;
}

.font-16{
    font-size: 16px;
}
.font-20{
    font-size: 20px;
}

.badge{
    font-weight: 300;
}

#filter_1{
    padding-left: 24px;
}

#filter_1 .active{
    background-color:  #00b050;
}

#filter_2 .active{
    background-color:  #00b050;
}

.total_filter{
    font-size: 14px;
}
.booked_filter{
    font-size: 14px;
}
.closed_filter{
    font-size: 14px;
}
.video{
    font-size: 14px;
}
.physical{
    font-size: 14px;
}

.filter_1 label{
    border:0.5px;
}
.filter_2 label{
    border:0.5px;
}

.login-panel{
    background-color: white;
    padding-bottom: 10px;
}
.panel.panel-default .panel-heading {
    color: #606060;
    background-color: #fff;
    border-bottom: 1px solid #efefef;
}
.panel .panel-heading {
    font-size: 14px;
    text-transform: uppercase;
}

.panel-default > .panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.panel-body{
    padding-top:10px;
    padding-left: 10px;
    padding-right: 10px;
}

#loginbox{
    margin-top: 100px;
}


footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 20px 0 0 0;
    min-height: 45px;
    color: #fff;
    background-color: #4682b4;
    font-weight: 300;
    font-size: 12px;
}

#footer-text{
    color: #fff;
}
/*

.filter-area{
    padding-left: 10px;
} */
.filter-area label{
    border: 0.5px solid #00b050;
    font-size: 12px;
}

.filter-area .active{
    background-color:  #1f7bf3;
    font-size: 13px;
    color: white;
}
.modal-header {
    padding: 10px;
}
/*======= */
.modal-body{
    height:500px;
}

/* loader*/
/* Absolute Center Spinner */
.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* Transparent Overlay */
.loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.loading:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 1500ms infinite linear;
    -moz-animation: spinner 1500ms infinite linear;
    -ms-animation: spinner 1500ms infinite linear;
    -o-animation: spinner 1500ms infinite linear;
    animation: spinner 1500ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0, rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) 0 1.5em 0 0, rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0, rgba(255, 255, 255, 0.5) -1.5em 0 0 0, rgba(255, 255, 255, 0.5) -1.1em -1.1em 0 0, rgba(255, 255, 255, 0.75) 0 -1.5em 0 0, rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0, rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) 0 1.5em 0 0, rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) -1.5em 0 0 0, rgba(255, 255, 255, 0.75) -1.1em -1.1em 0 0, rgba(255, 255, 255, 0.75) 0 -1.5em 0 0, rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.mr-1{
    height: 35px;
    width: 35px;
}

.modal-close-consultation{
    padding: 8px;
}

.close-consult{
    max-width: 448px;
    padding-top: 50px;
}

.template-msg{
    max-width: 448px;
    padding-top: 50px;
}
.modal-body-template{
    padding: 8px;
}
.timings{
    padding: 8px;
    border: 0.5px solid #cccccc;
    border-radius: 4px;
}
.timings .selected{

    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: rgb(0, 75, 145);
    color: rgb(0, 75, 145);
}
.timings .nav{
    border: none;
}
.timings .nav li{
    margin-right: 8px;
}
.timings #timings-text{
    width: 100%;
}

.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;
    padding: 4px 0;
    margin: 0 0 10px 25px;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
}

.ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
    text-decoration: none;
}

.ui-state-hover, .ui-state-active {
    color: #ffffff;
    text-decoration: none;
    background-color: #0088cc;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-image: none;
}
.fa-plus, .fa-minus{
    cursor: pointer;
}
.form-input{
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .2rem;
    height: 32px;
    padding: 8px;
}
#med_type{
    height: 32px;
}
#med_search{
    width: 100%;
}
#suggestions a{
    font-size: 12px;
    color: #777777;
}
.nav-item{
    cursor: pointer;
}
#api-error{
    padding-left: 10px;
    color: red;
    padding-top: 8px;
}
.appointment-details span{

}
.quantity{
    width: 50px;
}
.prescriptions-table{
    font-size: 12px;
}
.error{
    border: 0.5px solid red;
}
.form-error{
    color: red;
}