.navbar-container{
	margin-right: 25px;
}
.navbar{
	background-color: white;
    border-bottom: 1px solid #88da34;
}

body{
	background-color: #f5f5f5;
}

::-webkit-scrollbar-track
{
    border-radius: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 8px;
    background-color: #ccc;
}

::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: #ccc;
}


.border-right-green{
	border-right: 2px solid green;
}
.border{
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
#search::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}
#search::-moz-placeholder { /* Firefox 19+ */
  color: white;
}
#search:-ms-input-placeholder { /* IE 10+ */
  color: white;
}
#search:-moz-placeholder { /* Firefox 18- */
  color: white;
}
.bg-light{
	background-color: white;
}

.tab-content{
    background-color: white;
    border: 1px solid transparent;
    border-color: #ddd #ddd #fff;
    height: 75vh;
    overflow-y: scroll;
}
.tab-content{
    border-top: none;
}
.appointment-details{
    padding: 25px;
    font-size: 12px;
}
.appointment-details b{
    font-size: 14px;
}

.list-inline {
  white-space:nowrap;
  overflow: scroll;
}
.medicin-unit label{
  border: 0.5px solid #00b050;
}
.medicin-unit .active, .food .active, .duration .active{
  background-color:  #00b050;
}

.timings .morning{
  background-image:  url('../img/mor.png');
}
.timings .morning.active{
  background-image:  url('../img/morG.png');
}
.timings .noon{
  background-image:  url('../img/noon.png');
}
.timings .noon.active{
  background-image:  url('../img/noonG.png');
}
.timings .night{
  background-image:  url('../img/nigh.png');
}
.timings .night.active{
  background-image:  url('../img/nighG.png');
}
.timings .btn-group{
  height: 50px;
  width: 50px;
}
#publisher, #subscriber{
	height: 100%;
	width: 100%;
}
#subscriber .message{
    width: 100%;
    height: 100%;
    background: #33333321;
    opacity: 0.5;
    color: black;
    text-align: center;
    display: table;
}
#subscriber .message .text, #subscriber .message .spinner{
    color: black;
    display: table-cell;
    vertical-align: middle;
}

#publisher{
    position: absolute;
    width: 150px;
    height: 126px;
    bottom: 0px;
    z-index: 100;
}
#publisher:hover{
    border: 0.2px solid white;
    box-shadow: 0px 0px 20px 1px white;
}

.App-control-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.App-control-container.hidden {
    display: none;
}

.App-control-container .ots-video-control {
    width: 50px;
    height: 50px;
    margin: 20px 0 !important;
    border: 2px solid white;    
    background-position: center;
    background-color: rgba(27, 134, 144, 0.4);
    background-color: rgba(211, 211, 211, 0.32);
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 50;
}
.circle{
  border-radius: 50%;
}
.App-control-container .ots-video-control.audio {
    background-image: url(https://assets.tokbox.com/solutions/images/icon-mic.png);
}

.App-control-container .ots-video-control.audio:hover, .App-control-container .ots-video-control.audio.muted {
    background-image: url(https://assets.tokbox.com/solutions/images/icon-muted-mic.png);
}

.App-control-container .ots-video-control.video {
    background-image: url(https://assets.tokbox.com/solutions/images/icon-video.png);
}

.App-control-container .ots-video-control.video.muted, 
.App-control-container .ots-video-control.video:hover {
    background-image: url(https://assets.tokbox.com/solutions/images/icon-no-video.png);
}
#close-vedio-consultation{
    background-image: url(https://tokbox.com/developer/tools/playground/img/icons/force_unpublish.png);
}
.App-control-container .ots-video-control.full-screen {
    background-image: url(../img/exp.png);
}

.App-control-container .ots-video-control.full-screen-off {
    background-image: url(../img/resto.png);
}

.appointment-info.show-full-screen{
  height: 80vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.controls-group{
    position: absolute;
    left: 40%;
}
.content-container.container{
    width: 100%;
}
.appointment-type .VC{
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-image: url(../img/vidiCon.png);
}

.appointment-type .PC{
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-image: url(../img/pc.png);
}


.bootstrap-iso .formden_header h2, .bootstrap-iso .formden_header p, .bootstrap-iso form{font-family: Arial, Helvetica, sans-serif; color: black}.bootstrap-iso form button, .bootstrap-iso form button:hover{color: #ffffff !important;} .asteriskField{color: red;}

.no-padding{
    padding: 0;
}
#filter{
    font-size: 14px;
    font-family: sans-serif;
}
#filter input{
    line-height: 16px;
}
.prev{
    padding: 4px 8px 4px 8px;
    cursor: pointer;
}
.prev:hover, .next:hover{
    border: 0.5px solid #cccccc;
    border-radius: 16px;
}
.next{
    padding: 4px 8px 4px 8px;
    cursor: pointer;
}
#filter .dropdown-toggle:after{
    display: none !important;
}

#p_check{
width:35%;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#toaster {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the toaster */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the toaster when clicking on a button (class added with JavaScript) */
#toaster.show {
    visibility: visible; /* Show the toaster */

    /* Add animation: Take 0.5 seconds to fade in and out the toaster.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the toaster in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
#appointment-list{
    height: 75vh;
    overflow: auto;
}