<script src="./js/bootstrap-datepicker.min.js"></script>
<div class="bg-light border">
    <div class="row	mt-2 mb-2 pt-2 pb-1">
        <div class="col-sm-10 ">
         <!--  <div class="col-12 pull-right">-->

                    <div class="fa fa-angle-left prev"  id="previous_day"></div>
                    <input id="date" name="date" type="text" style="text-align:center"/>
                    <div class="fa fa-angle-right next" id="next_day">
                    </div>

        </div>
        <div class="col-sm-2 p-0">
            <div class="btn-group">
                <button type="button" class="btn btn-outline-success btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-filter pull-right" aria-hidden="true"></i>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Total <span id="total"></span></a>
                    <a class="dropdown-item" href="#">Pending <span id="pending"></span></a>
                    <a class="dropdown-item" href="#">Missed <span id="missed"></span></a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Video</a>
                    <a class="dropdown-item" href="#">Physical</a>
                    <a class="dropdown-item" href="#">Chat</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
            $("#date").datepicker({
            format: 'DD, dd-M-yy',
	    changeMonth: true,
            changeYear: true,
            minDate: 0,
            todayHighlight: true,
            autoclose: true,
        });

	
         var date = new Date();
         var options = { weekday: 'long', year: 'numeric', month: 'short', day: 'numeric' };
         $(function () {
            // This writes out the current date to the text field as starter
            $('#date').val(date.toLocaleDateString('en-US', options));
            // Hook up previous button event
            $('#previous_day').click(function () {
                // Set our current date to 1 day earlier
                date.setDate(date.getDate() - 1);
                // Write the result to our text input
                $('#date').val(date.toLocaleDateString('en-US', options));
        });
            // Hook up next button event
            $('#next_day').click(function () {
                // Set our current date to 1 day later
                date.setDate(date.getDate() + 1);
                // Write the result to our text input
                $('#date').val(date.toLocaleDateString('en-US', options))
            });
        });

    })
</script>
