<script src="./js/bootstrap-datepicker.min.js"></script>
<div class="bg-light border">
    <div class="text-center pt-2 pb-1 mt-2 mb-2 body-font">
        <div class="fa fa-angle-left prev"  id="previous_day"></div>
        <input id="date" class="form-input" name="date" type="text" style="text-align:center"/>
        <input type="hidden" name="sel_date" id="sel_date">
        <div class="fa fa-angle-right next" id="next_day"></div>
        <a href="#" class="today" title="Click to see Today's Appointments"><i class="fa fa-calendar" style="font-size: 18px"></i><sub>Today</sub></a>
    </div>
        <div class="row	mt-2 mb-2 pt-2 pb-1">
            <div class="col-sm-12 text-center">
                <div class="filter-area hidden-xs-up">
                    <div class="btn-group btn-group-sm status-filter" data-toggle="buttons">
                        <label class="all-button btn btn-light active all-btn">
                            <input class='filter-btn body-font' type="radio" name="filter_1" value="all" id="all" autocomplete="off" checked="checked">All<sup><span id="all_button"></span></sup>
                        </label>
                        <label class="pending-button btn btn-light pending-btn">
                            <input class='filter-btn body-font' type="radio" name="filter_1" value="booked" id="pending" autocomplete="off">Pending<sup><span id="pending_button"></span></sup>
                        </label>
                        <label class="closed-button btn btn-light closed-btn">
                            <input class='filter-btn body-font' type="radio" name="filter_1" value="closed" id="closed" autocomplete="off">Closed<sup><span id="closed_button"></span></sup>
                        </label>
                    </div>

                    <div class="btn-group btn-group-sm mode-filter body-font" data-toggle="buttons">
                        <label class="filter-2-all btn btn-light active">
                            <input class='filter-btn body-font' type="radio" name="filter_2" value="all_filter_2" id="all_filter_2" autocomplete="off"  checked="checked">All
                        </label>
                        <label class="filter-2-vc btn btn-light">
                            <input class='filter-btn body-font' type="radio" name="filter_2" value="VC" id="video1" autocomplete="off" ><i class="fa fa-video-camera"></i>
                        </label>
                        <label class="filter-2-pc btn btn-light">
                            <input class='filter-btn body-font' type="radio" name="filter_2" value="PC" id="physical1" autocomplete="off"><i class="fa fa-user"></i>
                        </label>
                    </div>
                </div>

            </div>
        </div>

</div>
<script  type="text/x-handlebars-template" id="filter_template">
    <div class="btn-group btn-group-sm status-filter" data-toggle="buttons">
        <label class="all-button btn btn-light active all-btn">
        <input class='filter-btn body-font' type="radio" name="filter_1" value="all" id="all1" autocomplete="off" checked="checked">All<sup><span id="all_button"></span></sup>
    </label>
    <label class="pending-button btn btn-light pending-btn">
        <input class='filter-btn body-font' type="radio" name="filter_1" value="booked" id="pending1" autocomplete="off">Pending<sup><span id="pending_button"></span></sup>
    </label>
    <label class="closed-button btn btn-light closed-btn">
        <input class='filter-btn body-font' type="radio" name="filter_1" value="closed" id="closed1" autocomplete="off">Closed<sup><span id="closed_button"></span></sup>
    </label>
    </div>

    <div class="btn-group btn-group-sm mode-filter body-font" data-toggle="buttons">
        <label class="btn btn-light active">
        <input class='filter-btn body-font' type="radio" name="filter_2" value="all_filter_2" id="all_filter_21" autocomplete="off"  checked="checked">All
        </label>
        <label class="btn btn-light">
        <input class='filter-btn body-font' type="radio" name="filter_2" value="VC" id="video11" autocomplete="off" ><i class="fa fa-video-camera"></i>
        </label>
        <label class="btn btn-light">
        <input class='filter-btn body-font' type="radio" name="filter_2" value="PC" id="physical11" autocomplete="off"><i class="fa fa-user"></i>
        </label>
        </div>
</script>


<script>
$(document).ready(function () {
    var filter1, filter2;
     var selDate = $('sel_date').val();

/*Added by Nishant for resetting the Filter after date is changed*/ //working but Not Working Perfectly
     /*var reset_filter=function(){
         var source = $("#filter_template").html();
         var template = Handlebars.compile(source);
         var html = template();
         $(".filter-area").html(html);

         $('.filter-btn').on('change',  function(ev){
             if( 'all' == ev.target.value){
                 filter1 = undefined;
             }else if('all_filter_2'==ev.target.value) {
                 filter2= undefined;
             }
             if(ev.target.name == 'filter_1' && 'all' != ev.target.value){
                 filter1  = ev.target.value;
             }else if(ev.target.name == 'filter_2' && 'all_filter_2'!=ev.target.value){
                 filter2 = ev.target.value;
             }
             var filteredAppointments = appointment_list.filter(function(val) {
                 if(filter1 && filter2){
                     if(filter1 === "booked"){
                         return val.appointment_status == "booked" || val.appointment_status == "inprogress" || val.appointment_status == "paid" && val.appointment_type == filter2;
                     }
                     if(filter1 === "closed"){
                         return val.appointment_status == "closed" || val.appointment_status == "expired" && val.appointment_type == filter2;
                     }
                     return val.appointment_status == filter1 && val.appointment_type == filter2;
                 }else if(filter1){
                     if(filter1 === "booked"){
                         return val.appointment_status == "booked" || val.appointment_status == "inprogress" || val.appointment_status == "paid";
                     }else if(filter1 === "closed"){
                         return val.appointment_status == "closed" || val.appointment_status == "expired";
                     }
                     return val.appointment_status == filter1;
                 }else if(filter2){
                     return val.appointment_type == filter2;
                 }else{
                     return true;
                 }
             });
             showDashboardDetails({appointments_details: {appointment: filteredAppointments}}, true);
         });

     };*/
     $('#date').val(selDate);
//     filter1="all";
//     filter2="all_filter_2";
     $('.filter-btn').on('change',  function(ev){
        if( 'all' == ev.target.value){
            filter1 = undefined;
        }else if('all_filter_2'==ev.target.value) {
            filter2= undefined;
        }
        if(ev.target.name == 'filter_1' && 'all' != ev.target.value){
            filter1  = ev.target.value;
        }else if(ev.target.name == 'filter_2' && 'all_filter_2'!=ev.target.value){
            filter2 = ev.target.value;
        }
        var filteredAppointments = appointment_list.filter(function(val) {
            if(filter1 && filter2){
                if(filter1 === "booked"){
                    return val.appointment_status == "booked" || val.appointment_status == "inprogress" || val.appointment_status == "paid" && val.appointment_type == filter2;
                }
                return val.appointment_status == filter1 && val.appointment_type == filter2;
            }else if(filter1){
                if(filter1 === "booked"){
                    return val.appointment_status == "booked" || val.appointment_status == "inprogress" || val.appointment_status == "paid";
                }else if(filter1 === "closed"){
                    return val.appointment_status == "closed" || val.appointment_status == "expired";
                }
                    return val.appointment_status == filter1;
            }else if(filter2){
                     return val.appointment_type == filter2;
            }else{
                     return true;
            }
        });
         showDashboardDetails({appointments_details: {appointment: filteredAppointments}}, true);
        });
    $("#date").datepicker({
        format: 'DD, M d, yyyy',
        changeMonth: true,
        changeYear: true,
        minDate: 0,
        todayHighlight: true,
        autoclose: true
    }).on('changeDate', function(e) {
       // reset_filter();
        //Added by Nishant
        $(".closed-button").removeClass('active');
        $(".pending-button").removeClass('active');
        $(".all-button").addClass('active');
        $(".filter-2-all").addClass('active');
        $(".filter-2-vc").removeClass('active');
        $(".filter-2-pc").removeClass('active');

        var actualDate = e.date;
        $("#sel_date").val(moment(actualDate).format("dddd,ll"));
        selDate = moment(actualDate).format("dddd,ll");
        var date = moment(actualDate).format("YYYYMMDD");
        getData.getDashboardData(date).then(function (res) {
            appointment_list = res.appointments_details.appointment;
            showDashboardDetails(res);
            appointment_date=moment(actualDate).format("YYYY-MM-DD");
        });
    });
    $(function () {
        $('#date').val(moment().format("dddd, ll"));
        selDate =moment().format("dddd, ll");
        // Hook up previous button event
        $('#previous_day').click(function () {
         //   reset_filter();
            //Added by Nishant
            $(".closed-button").removeClass('active');
            $(".pending-button").removeClass('active');
            $(".all-button").addClass('active');
            $(".filter-2-all").addClass('active');
            $(".filter-2-vc").removeClass('active');
            $(".filter-2-pc").removeClass('active');

            if(prev_apmt_date) {
                var date = prev_apmt_date;
                getData.getDashboardData(date).then(function (res) {
                    appointment_list = res.appointments_details.appointment;
                    appointment_date=moment(prev_apmt_date).format("YYYY-MM-DD");
                    showDashboardDetails(res);
                    $("#date").val(moment(date).format("dddd, ll"));
                    $("#sel_date").val(moment(date).format("dddd,ll"));
                    selDate = moment(date).format("dddd,ll");
                    $(".filter-area").show();
                })
            }else{

            }
        });
    // Hook up next button event
        $('#next_day').click(function () {
           // reset_filter();
            //Added by Nishant
            $(".closed-button").removeClass('active');
            $(".pending-button").removeClass('active');
            $(".all-button").addClass('active');
            $(".filter-2-all").addClass('active');
            $(".filter-2-vc").removeClass('active');
            $(".filter-2-pc").removeClass('active');

            if(next_apmt_date) {
                var date = next_apmt_date;
                getData.getDashboardData(date).then(function (res) {
                    appointment_list = res.appointments_details.appointment;
                    appointment_date=moment(next_apmt_date).format("YYYY-MM-DD");
                    showDashboardDetails(res);
                    $("#date").val(moment(date).format("dddd, ll"));
                    $("#sel_date").val(moment(date).format("dddd,ll"));
                    selDate = moment(date).format("dddd,ll");
                })
            }else{

            }
        });
          $('#date').focusout(function(){
             $('#date').val(selDate);
          });
    });
    $(".today").on('click', function () {
        var actualDate=new Date();
        var date=moment(actualDate).format("YYYYMMDD");
        getData.getDashboardData(date).then(function(res){
            $('#filter').load(filter);
            appointment_list=res.appointments_details.appointment;
            showDashboardDetails(res);
            appointment_date=moment(actualDate).format("YYYY-MM-DD");
        });
    });
})


    // Make a reset_filter function

</script>