
<div class="bg-light">
    <div class="row	">
        <div class="col-md-10 col-sm-7 input-group" style="padding:0;">
         <!--  <div class="col-12 pull-right">-->

                <div class="btn btn-default" id="previous_day"></div>
                <div class="input-group col-6">
                    <input class="form-control" id="date" name="date" type="text" />
                </div>
                <div class="btn btn-default" id="next_day"></div>

            <!--</div>--></div>
            <div class="col-md-2 col-sm-5 pull-right">
                <div class="text-center btn-default btn-sm">
                    <button type="button" class="btn btn-outline-success"><span class="hidden-xs-down">Filter</span><i class="fa fa-filter pull-right" aria-hidden="true"></i></button>

              
            </div>
        </div>
    </div>
</div>

<script>
    var date = new Date();
    var options = { weekday: 'long', year: 'numeric', month: 'short', day: 'numeric' };
    $(function () {
        // This writes out the current date to the text field as starter
        $('#date').val(date.toLocaleDateString('en-US', options));

        // Hook up previous button event
        $('#previous_day').click(function () {
            // Set our current date to 1 day earlier
            date.setDate(date.getDate() - 1);
            // Write the result to our text input
            $('#date').val(date.toLocaleDateString('en-US', options))
        });
        // Hook up next button event
        $('#next_day').click(function () {
            // Set our current date to 1 day later
            date.setDate(date.getDate() + 1);
            // Write the result to our text input
            $('#date').val(date.toLocaleDateString('en-US', options))
        });
    });

</script>
<script>
    $(document).ready(function () {
        var date_input = $('input[name="date"]'); //our date input has the name "date"
        var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : "body";
        date_input.datepicker({
            format: 'DD, dd-M-yy',
            container: container,
            todayHighlight: true,
            autoclose: true,
        });
    })
</script>
