<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>-->
<script  type="text/x-handlebars-template" id="prescriptiontable">
	{{#prescription}}
	<tr>
		<td>{{med_type}}</td>
		<td>{{med_name}}</td>
		<td>{{dosage}}</td>
		<td>{{tmg_qty_string}}</td>
		<td>{{frequency}}</td>
		<td>{{course}}</td>
		<td>{{med_intake}}</td>
		<td>{{remarks}}</td>
		<td class="action_buttons">
			<span class="edit" id="e_{{prescription_id}}"><i class="fa fa-pencil-square-o editer" id="editer" aria-hidden="true"></i></span>
			<span class="delete" id="d_{{prescription_id}}"><i class="fa fa-trash-o fa-fw deleter" id="deleter" aria-hidden="true"></i></span>
		</td>
	</tr>
	{{/prescription}}
</script>
<div class="col-xs-12 appointment-details">
	<!--<a href="#" id="add_medicine" value="Add to My Medicines">Add to My Medicines</a>-->

	<!--<div class="col-2 pull-right">
        <button type="button" class="close" id="pres_close" aria-label="Close">
            <span id="close-button" aria-hidden="true"><h3>&times;</h3></span>
        </button>
    </div>-->
	<div class="form">
		<form id="form3" method="post">
			<button type="button" class="close" id="pres_close" aria-label="Close">
				<span id="close-button" class="small-font" aria-hidden="true"><h3 class="header-font">&times;</h3></span>
			</button>
			<div class="form-group">
				<div class="small-font"><b>Medicine</b></div>
				<div class="row">
					<div class="col-4">
						<select class="form-control form-control-sm small-font input-height" id="med_type" name="med_type" required>
							<option value="" disabled selected>Medicine Type</option>
							<option value="Tablet">Tablet</option>
							<option value="Syrup">Syrup</option>
							<option value="Drops">Drops</option>
							<option value="Suppositorie">Suppositorie</option>
							<option value="Inhaler">Inhalers</option>
							<option value="Injection">Injections</option>
							<option value="Ointment">Ointment/Cream/Lotion</option>
							<option value="Implants">Implants or patches</option>
						</select>
						<!--<small id="warning-text" class="form-text text-muted">Please select Medicine Type First!!</small>-->
					</div>
					<div class="col-6">
						<div class="ui-front">
							<input class="form-input small-font input-height" name="med_search" id="med_search" placeholder="Medicine Name *" required>

							</input>
						</div>

					</div>
					<div class="col-2">
						<input type="text" class="form-control small-font input-height" name="dosage" id="dosage" placeholder="Dosage"/>
					</div>
					<div class="col-md-12 text-right pt-1 small-font">
						<a href="#" id="add_medicine" value="Add to My Medicines">Add to My Medicines</a>
					</div>
				</div>
			</div>
			<div class="mt-3">
				<div class="small-font"><b>Timings/Quantity</b></div>
				<div class="timings small-font">
					<ul class="nav nav-tabs">
						<li><a href="#" id="standard" class="selected_1"><b>Standard</b></a></li>
						<li><a href="#" id="free-text"><b>Free Text</b></a></li>
					</ul>
					<div>
						<div class="row">
							<div id="standard-tab" class="col-12">
								<div class="row">
									<div class="col-4">
										<div class="small-font"><b>Morning *</b></div>
										<i class="fa fa-minus" aria-hidden="true" for="morning"></i>
										<input type="number" name="morning" id="morning" placeholder="Morning"  class="quantity form-input small-font input-height" value="0" min="0">
										<i class="fa fa-plus" aria-hidden="true" for="morning"></i>
										<span class="unit"></span>
									</div>
									<div class="col-4">
										<div class="small-font"><b>Afternoon *</b></div>
										<i class="fa fa-minus" aria-hidden="true" for="afternoon"></i>
										<input type="number" name="afternoon" id="afternoon" placeholder="Afternoon" class="quantity form-input small-font input-height" value="0" min="0">
										<i class="fa fa-plus" aria-hidden="true" for="afternoon"></i>
										<span class="unit"></span>
									</div>
									<div class="col-4">
										<div class="small-font"><b>Night *</b></div>
										<i class="fa fa-minus" aria-hidden="true" for="evening"></i>
										<input type="number" name="night" id="evening" placeholder="Night" class="quantity form-input small-font input-height" value="0" min="0">
										<i class="fa fa-plus" aria-hidden="true" for="evening"></i>
										<span class="unit"></span>
									</div></div>
							</div>
							<div id="free-text-tab" class="col-12" style="display: block">
								<div class="row small-font">
									<div class="col-12">
										<textarea class="small-font form-control col-12" name="med_dosage_text" id="timings-text" rows="3" placeholder="Provide the timings details."/>
									</div>
									<div class="col-12 small-font">
										Suggestions: <span id="suggestions" class="small-font"><a href="#" class="free_text_suggest">Every 3 hours</a>, <a  href="#" class="free_text_suggest">7:30 AM - 10:30 AM - 1:30 PM - 4:30 PM</a></span>
									</div>

								</div>
							</div>

						</div>
						<div class="row pt-2">
							<div class="col-4">
								<div class="small-font"><b>Medicine Intake</b></div>
								<div class="food">
									<label class="custom-control custom-radio">
										<input id="before-food" name="med_intake" type="radio" value="Before Food"  class="custom-control-input input-height">
										<span class="custom-control-indicator"></span>
										<span class="custom-control-description small-font">Before Food</span>
									</label>
									<label class="custom-control custom-radio">
										<input id="after-food" name="med_intake" type="radio" value="After Food" class="custom-control-input input-height">
										<span class="custom-control-indicator"></span>
										<span class="custom-control-description small-font">After Food</span>
									</label>
								</div>
							</div>
							<div class="col-4">
								<div class="small-font"><b>Frequency</b></div>
								<div class="form-group">
									<input type="text" class="form-control small-font input-height" id="txt_frequency" name="frequency" placeholder="Enter frequency" >
								</div>
							</div>
						</div>
					</div>
				</div></div>


			<div class="mt-3">
				<div class="small-font"><b>Course Duration</b></div>
				<div class="form-group row ">

					<div class="col-sm-6">
						<input type="number" name="course" placeholder="Duration *" min=0 class=" col-2 form-input small-font input-height" style="width:65px;">
						<label class="custom-control custom-radio">
							<input id="days" name="duration" type="radio" value="days" class="custom-control-input input-height" required>
							<span class="custom-control-indicator"></span>
							<span class="custom-control-description duration small-font">Days</span>
						</label>
						<label class="custom-control custom-radio">
							<input id="weeks" name="duration" type="radio" value='weeks' class="custom-control-input input-height" required>
							<span class="custom-control-indicator"></span>
							<span class="custom-control-description duration small-font">Weeks</span>
						</label>
						<label class="custom-control custom-radio">
							<input id="months" name="duration" type="radio" value='months' class="custom-control-input input-height" required>
							<span class="custom-control-indicator"></span>
							<span class="custom-control-description duration small-font">Months</span>
						</label>
						<!--<label class="custom-control custom-radio">
							<input id="continuous" name="duration" type="radio" value='continuous' class="custom-control-input input-height" required>
							<span class="custom-control-indicator"></span>
							<span class="custom-control-description duration small-font">Continuous</span>
						</label>-->
					</div>
				</div>
			</div>

			<div class="mt-2">
				<div class="small-font"><b>Instructions</b></div>
				<div class="form-group">
					<textarea class="form-control small-font" id="exampleTextarea" name="remarks" placeholder="Remarks..." rows="3"></textarea>
				</div>
			</div>

			<div class="form-group rows">
				<button class="btn btn-success btn-sm body-font" id="add-prescription">Add</button>
				<button class="btn btn-danger btn-sm body-font" id="reset-prescription" type="reset">Reset</button> <span class="form-error hidden-xs-up small-font">Please add all mandatory fields </span>

			</div>
		</form>
	</div>
	<hr/>

	<div>
		<div class="row">
			<div class="col-4 body-font">
				<b>Prescribed Medications</b>
			</div>
			<div class="col-3 pull-right previous_pres">
				<select class="previous_prescription form-control small-font input-height" name="previous_prescription" id="previous_prescription">
					<script  type="text/x-handlebars-template" id="template-prev-date">
						<option value="" disabled selected>Previous Prescriptions</option>
						{{#previous_appointments}}
						<option id="{{appointment_id}}">{{formated_date}}</option>
						{{/previous_appointments}}
					</script>
				</select>
			</div>
			<div class="col-5 pull-right search_template">

				<select class="template_name form-control small-font input-height" name="template_name" id="template_name"></select>
				<div id="add" class="btn btn-default fa fa-plus float-right btn-primary btn-sm"></div>
			</div>
			<!--<div class="col-2 pull-right">

			</div>-->
		</div>


		<table class="table table-sm small-font">
			<thead>
			<tr>
				<th><b>Type</b></th>
				<th><b>Name</b></th>
				<th><b>Dosage</b></th>
				<th><b>Timings/Quantity</b></th>
				<th><b>Frequency</b></th>
				<th><b>Course Duration</b></th>
				<th><b>Medicine Intake</b></th>
				<th><b>Instructions</b></th>
				<th id="strong" class="action"><b>Action</b></th>
			</tr>
			</thead>
			<tbody id="tab1" class="small-font">
			<tr >
				<td>
					Please add Prescriptions.
				</td>
			</tr>

			</tbody>
		</table>
		<button class="btn btn-primary btn-sm body-font" id="save_continue">Continue</button>
		<a href="#" id="add_template" value="Add to My Templates" class="small-font pull-right" data-toggle="modal" data-target="#template-add">Add to My Templates</a>

	</div>

</div>

<!--
<div id="save_template_form" class="pl-3 pt-3">
	<form id="form_6" method="post">
		<button type="button" class="close pr-5" id="template_close_list" aria-label="Close">
			<span id="template_close_button_list" aria-hidden="true"><h3 class="header-font" style="color: red">&times;</h3></span>
		</button>
		<div class="form-group small-font">
			<div class="row pt-3">
				<div class="col-4">
					<div class="small-font"><b>Template Name</b></div>
					<input class="form-control small-font input-height small-font" name="add_template_name" id="add_template_name" placeholder="Enter Template Name *" required />
				</div>
				<div class="col-4">
					<div class="small-font"><b>Diseases</b></div>
					<input class="form-control small-font input-height small-font" name="diseases" id="diseases" placeholder="Enter Diseases" required />
				</div>
				<div class="col-4">
					<div class="small-font"><b>Speciality</b></div>
					<input class="form-control small-font input-height small-font" name="speciality" id="speciality" placeholder="Enter Speciality" required />
				</div>
			</div>
			<div class="pt-3">
				<button type="button" class="btn btn-success col-2 body-font" id="save_template_button">Save Template</button>
				<button type="button" class="btn btn-danger col-2 pl-3 body-font" id="close_template_form">Close</button>
				<span class="form-error hidden-xs-up small-font">Please add all mandatory fields</span>
			</div>
		</div>
	</form>
</div>
-->

<div id="save_medicine" class="pl-3 pt-3">
	<form id="form_5" method="post">
		<button type="button" class="close pr-5" id="pres_close_list" aria-label="Close">
			<span id="close-button_list" aria-hidden="true"><h3 class="header-font" style="color: red">&times;</h3></span>
		</button>
		<div class="form-group small-font">
			<div class="row">
				<div class="col-4">
					<select class="col-12 form-input small-font input-height" id="med_type_list" name="med_type" required>
						<option value="" disabled selected>Medicine Type</option>
						<option value="Tablet">Tablet</option>
						<option value="Syrup">Syrup</option>
						<option value="Drops">Drops</option>
						<option value="Suppositorie">Suppositorie</option>
						<option value="Inhaler">Inhalers</option>
						<option value="Injection">Injections</option>
						<option value="Ointment">Ointment/Cream/Lotion</option>
						<option value="Implants">Implants or patches</option>
					</select>
				</div>

			</div>
			<div class="row pt-3">
				<div class="col-3">
					<div class="ui-front">
						<input class="form-control small-font input-height" name="brand_name" id="med_brand_name" placeholder="Medicine Brand Name *" required />
					</div>
				</div>
				<div class="col-3">
					<input type="text" class="form-control input-height small-font" name="generic_name" id="med_generic_name" placeholder="Medicine Generic Name"/>
				</div>
				<div class="col-2">
					<input type="text" class="form-control small-font input-height" name="dosage" id="dosage_list" placeholder="Dosage" required/>
				</div>
				<div class="col-2">
					<input type="text" class="form-control small-font input-height" name="dosage_uom" id="units" placeholder="Units (mg/ml,etc...)" required/>
				</div>
			</div>
			<div class="pt-3">
				<button type="button" class="btn btn-success col-2 body-font" id="save_med">Save Medicine</button>
				<button type="button" class="btn btn-danger col-2 pl-3 body-font" id="close_med">Close</button>
				<span class="form-error hidden-xs-up small-font">Please add all mandatory fields</span>
				<div class="alert alert-success alert-autocloseable-success text-center mt-2 body-font">
					Medicine details have been saved Successfully!!
				</div>
			</div>
		</div>
	</form>
</div>

<div class="template modal fade bd-example-modal-lg template-alert" id="template-alert" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="template-msg modal-dialog modal-sm" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close small-font" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true" class="body-font fa fa-close"></span>
					</button>
				<h4 class="template-modal-title body-font">Template</h4>
			</div>
			<div class="modal-body-template body-font">
				Do you want to replace the existing medicines or append it?
			</div>
			<div class="modal-footer text-center">
				<button type="button" class="btn btn-info btn-sm replace body-font" id="replace" data-dismiss="modal" >Replace</button>
				<button type="button" class="btn btn-primary btn-sm append body-font" id="append" data-dismiss="modal" >Append</button>
			</div>
		</div>
	</div>
</div>

<div class="add-template-modal modal fade bd-example-modal-lg add-template-alert" id="template-add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="add-template-msg modal-dialog modal-sm" role="document" style="padding-top: 50px; max-width: 600px">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close body-font" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true" class=" fa fa-close"></span>
				</button>
				<h4 class="add-template-modal-title body-font">Add a New Template</h4>
			</div>
			<div class="add-modal-body-template body-font">
				<div id="save_template_form" class="pl-3 pt-3">
					<form id="form_6" method="post">
						<div class="form-group add-template-div small-font">
							<div class="row">
								<div class="col-4">
									<!--<div class="small-font"><b>Template Name</b></div>-->
									<input class="form-control small-font input-height small-font" name="add_template_name" id="add_template_name" placeholder="Enter Template Name *" required />
								</div>
								<div class="col-4">
									<!--<div class="small-font"><b>Diseases</b></div>-->
									<input class="form-control small-font input-height small-font" name="diseases" id="diseases" placeholder="Enter Diseases" required />
								</div>
							<!--	<div class="col-4">
									<div class="small-font"><b>Speciality</b></div>
									<input class="form-control small-font input-height small-font" name="speciality" id="speciality" placeholder="Enter Speciality" required />
								</div>-->
							</div>
						<!--	<div class="pt-3">
								<button type="button" class="btn btn-success body-font" id="save_template_button">Save Template</button>
								<button type="button" class="btn btn-danger pl-3 body-font" id="close_template_form">Close</button>
								<span class="form-error hidden-xs-up small-font">Please add all mandatory fields</span>
							</div>-->
						</div>
					</form>
				</div>

			</div>
			<div class="modal-footer">
				<div class="col-12 add-template-footer text-left">
				<button type="button" class="btn btn-success body-font" id="save_template_button">Save Template</button>
				<button type="button" class="btn btn-danger pl-3 body-font" data-dismiss="modal">Close</button>
				<span class="form-error hidden-xs-up small-font">Please add all mandatory fields</span>
				</div>
				<!--<button type="button" class="btn btn-success btn-sm body-font" id="save_template_button" data-dismiss="modal" >Save Template</button>
				<button type="button" class="btn btn-primary btn-sm body-font" data-dismiss="modal" >Close</button>-->
			</div>
		</div>
	</div>
</div>

</div>
<script type="text/javascript">
    var showPrescriptions;
    var prescription_data = [];
    $(document).ready(function() {
        getData.getPreviousPrescriptions().then(function (res) {
            var source = $("#template-prev-date").html();
            var template = Handlebars.compile(source);
            var html = template(res);
            $("#previous_prescription").html(html);
        });


        var prescriptionDetais = {
            Tablet: {
                unit: "No",
                baseQuantity: 0.5,
                min: 0,
                max: 10,
                element: 'standerd',
                suggestions: ["Every 3 hours", "3 times a day"]
            },
            Capsule: {
                unit: "No",
                baseQuantity: 1,
                min: 0,
                max: 10,
                element: 'standerd',
                suggestions: ["Every 3 hours", "3 times a day"]
            },
            Syrup: {
                unit: "Ml",
                baseQuantity: 2.5,
                min: 0,
                max: 20,
                element: 'standerd',
                suggestions: ["Every 3 hours", "3 times a day"]
            },
            Drops: {
                unit: "Drops",
                baseQuantity: 1,
                min: 0,
                max: 10,
                element: 'freetext',
                suggestions: ["Every 3 hours", "3 times a day"]
            },
            Suppositorie: {
                unit: "No",
                baseQuantity: 0.5,
                min: 0,
                max: 10,
                element: 'standerd',
                suggestions: ["Every 3 hours", "3 times a day"]
            },
            Inhaler: {
                unit: "Ml",
                element: 'freetext',
                suggestions: ["Every 3 hours", "3 times a day"]
            },
            Injection: {
                unit: "No",
                element: 'freetext',
                suggestions: ["Every 3 hours", "3 times a day"]
            },
            Ointment: {
                element: "freetext",
                suggestions: ["Every 3 hours", "3 times a day"]
            },
            Implants: {
                element: "freetext"
            }
        };
        function validateForm(formData){
            var isValid = true;
            $('.form-error').html('Please add all mandatory fields');
            $('.form-error').addClass('hidden-xs-up');
            $('#med_search').removeClass('error');
            $('input[name="course"]').removeClass('error');
            $('input[name="duration"]').removeClass('error');
            $(".duration").removeClass('error');

            if(formData['med_name'] == ""){
                $('#med_search').addClass('error');
                isValid =false;
            }
            $('#med_type').removeClass('error');
            $('.quantity').removeClass('error');
            $('#timings-text').removeClass('error');

            if(formData['med_type'] == undefined){
                $('#med_type').addClass('error');
                isValid =false;
            }

            if(formData['tmg_qty_type'] == "std_MAE" && formData['tmg_qty_string'] == "0-0-0"){
                $('.quantity').addClass('error');
                isValid = false;
            }else if(formData['tmg_qty_type'] == "others" && formData['tmg_qty_string'].trim() == ""){
                isValid = false
                $('#timings-text').addClass('error');
            }
            if($('input[name="course"]').val() == "") {
                $('input[name="course"]').addClass('error');
                isValid = false;
            }
            if($("input[name='duration']:checked").val()==undefined){
                $(".duration").addClass('error');
                isValid = false;
            }
            if(!isValid){
                $('.form-error').removeClass('hidden-xs-up');
            }
            if(isValid == false){
                $('#add').hide();
            }else{
                $('#add').show();
            }
            return isValid;
        }

        var selectedPrescriptionDetails = prescriptionDetais.tablet;
        function setUnit() {
            selectedPrescriptionDetails = prescriptionDetais[$('#med_type').val()];
            $('.unit').html("");
            $('.quantity').removeAttr("min");
            $('.quantity').removeAttr("max");
            if(selectedPrescriptionDetails.unit){
                $('.unit').html(selectedPrescriptionDetails.unit);
            }
            if(selectedPrescriptionDetails.min){
                $('.quantity').prop("min", selectedPrescriptionDetails.min);
            }
            if(selectedPrescriptionDetails.max){
                $('.quantity').prop("max", selectedPrescriptionDetails.max);
            }
            if(selectedPrescriptionDetails.element === "freetext"){
                $('#free-text').click();
                selectedPrescriptionDetails.suggestions && $('#suggestions').html(selectedPrescriptionDetails.suggestions.map(function (value) { return "<a href='#'>"+value+"</a>" }).join(','));
            }else{
                $('#standard').click();
            }
        }
        $('#med_type').on('change',function (ev) {
            $('#med_search').val('');
            $('#dosage').val('');
            $('#morning').val('0');
            $('#afternoon').val('0');
            $('#evening').val('0');
            $('#days').prop('checked', false);
            $('#weeks').prop('checked', false);
            $('#months').prop('checked', false);
            $('#before-food').prop('checked', false);
            $('#after-food').prop('checked', false);
            $('#txt_frequency').val('');
            $('input[name="course"]').val('');
            $("#exampleTextarea").val('');
            $('#timings-text').val('');
            setUnit();
        });

        $("#template_name").select2({
            width: '200px',
            tags: true,
            placeholder: "Search for a template",
            allowClear: true,
            minimumInputLength: 0,
            containerCssClass : "custom-select ",
            ajax: { // instead of writing the function to execute the request we use Select2's convenient helper
                type: "post",
                url: base_url+"/api/getPrescriptionTemplateList.php",
                dataType: 'json',
                //contentType: 'application/json; charset=UTF-8',
                data: function (term) {
                    return JSON.stringify({
                        template_input : {
                            doctor_id: doctor_id,
                            //doctor_id: 1,
                            template_id: "",
                            template_name:term.term,
                            speciality: ""
                        },
                        session_info: {
                            "user_id": sessionStorage.getItem("userId"),
                            "access_token": sessionStorage.getItem("token"),
                            "device_id": "web",
                            "doctor_id": sessionStorage.getItem("doctorId")
                        }
                    })
                },
                processResults: function (data) { // parse the results into the format expected by Select2.
                    // since we are using custom formatting functions we do not need to alter the remote JSON data
                    return {
                        results: $.map(data.template_det, function (smthg) {
                            return {id: smthg.template_id, text: smthg.template_name}
                        })
                    };
                }
            },
            cache: true
        }).addClass('custom-select ');

        /*  $('#template_name').change(function(){
              var template_id = $('#template_name').val();
              var template_name=$("#template_name").text();
              $("#template_name").val=template_name;
              alert("id:"+template_id+" name: "+template_name);
          });*/


        $('#template_name').on('select2:select', function (e) {
            var template_id = $('#template_name :selected').val();
            var template_name=$('#template_name :selected').text();
            getData.getMyprescriptionTemplateDetails(template_id).then(function (res) {
                var my_template=res;
                $(".template-modal-title").html(template_name);
                $('#template-alert').modal({
                    show: true
                });
                $("#replace").unbind().on("click", function (evt) {
                    prescription_data = prescription_data.map(function (p) {
                        p.delete_flag = 'Y';
                        return p;
                    });
                    //evt.preventDefault();
                    prescription_data   =   prescription_data.concat(my_template.prescription_details);
                    //   debugger;
                    getData.UpdatePrescriptionDetails(appointment_id, prescription_data).then(function (rep) {
                        //     debugger;
                        showPrescriptions(rep.prescription_details);
                    });
                    evt.preventDefault();
                });
                $("#append").unbind().on("click", function (evt) {
                    prescription_data = prescription_data.concat(res.prescription_details);
                    //debugger;
                    //evt.preventDefault();
                    getData.UpdatePrescriptionDetails(appointment_id, prescription_data).then(function (app) {
                        //  debugger;
                        showPrescriptions(app.prescription_details);
                    });
                    evt.preventDefault();
                });
            });
        });

        $("#med_search").autocomplete({
            minLength: 3,
            placeholder: "Search for a Medicine",
            allowClear: true,
            classes: {
                "ui-autocomplete": "menu"
            },
            source: function(req, response){
                getData.getMymedicineList(req.term).then(function(res){
                    response(res.my_medicine.map(function (t) {
                        return {label:t.med_brand_name, id:t.med_id, dosage: t.dosage, type:t.med_type }
                    }));
                });
            },
            select: function (ev, ui) {
                $('#dosage').val(ui.item.dosage);
                $("#med_type").val(ui.item.type);
                setUnit();
            }
        });

        $("select").on("select2:select", function (evt) {

            var element = evt.params.data.element;
            var $element = $(element);
            $element.detach();
            $(this).append($element);
            $(this).trigger("change");
        });
        $('#med_search').change(function(){
            var med_name = $('#med_search').val();
            $("#med_name").val=med_name;
        });

        if (prescriptions_list.length) {
            prescription_data = prescriptions_list;
        }
        $('.form').hide();
        $("#save_medicine").hide();
        $("#add_medicine").hide();

     //   $("#save_template_form").hide();
        $("#add_template").on('click', function(evt){
            // $('.form-error').addClass('d-none');
            $('.form-error').html('Please add all mandatory fields');
            $('.form-error').addClass('hidden-xs-up');
            $('input[name="add_template_name"]').removeClass('error');
            $('input[name="diseases"]').removeClass('error');
            $('input[name="speciality"]').removeClass('error');
            $("#form_6").get(0).reset();
            //$("#save_template_form").show();
          //  $(".appointment-details").hide();
            evt.preventDefault();
        });

       /* $("#template_close_button_list").on('click', function (ev) {
            $("#save_template_form").hide();
            $(".appointment-details").show();

            ev.preventDefault();
        });*/
        /*$("#close_template_form").on('click', function (ev) {
            $("#save_template_form").hide();
            $(".appointment-details").show();
            ev.preventDefault();
        });*/

        function validateTemplate(formData){
            var isValid = true;
            $('.form-error').html('Please add all mandatory fields');
            $('.form-error').addClass('hidden-xs-up');
            //  $('#brand_name').removeClass('error');
            $('input[name="add_template_name"]').removeClass('error');
            $('input[name="diseases"]').removeClass('error');
            //$('input[name="speciality"]').removeClass('error');

            if(formData['add_template_name'] == ""){
                $('#add_template_name').addClass('error');
                isValid =false;
            }
            if(formData['diseases'] == ""){
                $('#diseases').addClass('error');
                isValid =false;
            }

            if($('input[name="add_template_name"]').val() == ""){
                $('input[name="add_template_name"]').addClass('error');
                isValid = false;
            }
            if($('input[name="diseases"]').val() == ""){
                $('input[name="dieases"]').addClass('error');
                isValid = false;
            }
            if(!isValid){
                $('.form-error').removeClass('hidden-xs-up');
            }
            return isValid;
        }

        $("#save_template_button").on('click', function(evt){
            var formData = $("#form_6").serializeArray();
            template_data={};
            formData.map(function (feild) {
                template_data[feild.name] = feild.value;
            });
            if(validateTemplate(template_data)) {
                //Code for addPrescriptionTemplate API

                if(prescription_data.length==0){
                   /* $("#api-error").removeClass('hidden-xs-up');
                    $("#api-error-message").show();
                    $("#api-error-message").html("Please Add Prescribed Medicines in the Template!!");*/
                    $('.form-error').removeClass('hidden-xs-up');
					$('.form-error').html('Please add Prescribed Medicines in the template !!');
                }
                else{
                    $('.form-error').addClass('hidden-xs-up');
                    $('.form-error').html('Please add all mandatory fields');
                    $('#template-add').modal('toggle');
                    getData.addPrescriptionTemplate(template_data.add_template_name,template_data.diseases, prescription_data).then(function (res) {
                        if(!res.error.error_message) {
                            $("#api-success").removeClass('hidden-xs-up');
                            $("#api-success-message").show();
                            $("#api-success-message").html("Template has been added Successfully!!");
                            $('#api-success-message').delay(3000).fadeOut("slow", function (evt) {
                                $("#api-success").addClass('hidden-xs-up');
                                $("#api-success-message").html("");
                               // $(".appointment-details").show();
                                $("#form_6").get(0).reset();
                                // $("#form3").get(0).reset();
                                //$("#save_template_form").fadeOut();


                            });
                        }
                        else{
                            $("#api-error").removeClass('hidden-xs-up');
                            $("#api-error-message").show();
                            $("#api-error-message").html(res.error.error_message);
						}
                    });
                }
            }
        });

        $('#add').on('click', function (ev) {

            $('.form-error').html('Please add all mandatory fields');
            $('.form-error').addClass('hidden-xs-up');
            $('#med_search').removeClass('error');
            $('input[name="course"]').removeClass('error');
            $('input[name="duration"]').removeClass('error');
            $(".duration").removeClass('error');
            $("#med_type").removeClass('error');
            $('.quantity').removeClass('error');


            $(this).hide();
            $("#form3").get(0).reset();
            $('.form').show();
            ev.stopPropagation();
            $('#add-prescription').html("Add");
            $("#add_medicine").show();
            //  $('#med_type option[value=""]').text();
            // $('#med_type option[value=""]').attr('selected', true);
            $("#med_type").val=$('#med_type option[value=""]').text();

            $('#txt_frequency').val('');
            //$('input[name="duration"]').val('');
            $('textarea[name="remarks"]').text('');
            $('input[name="duration"]').attr('checked', false);
            $("#free-text-tab").hide();
            $("#standard-tab").show();
            $("#free-text").removeClass('selected_1');
            $("#standard").addClass('selected_1');
            // setUnit();
            //  $('.duration input[value="' + prescription.course.split(' ')[1] + '"]').attr('checked', true);
        });
        $("#close-button").on('click', function (ev) {
            //debugger
            $('#add').show();
            $('.form').hide();
            $("#form3").get(0).reset();
            $("#med_name").val("");
            $("#add_medicine").hide();
           // ev.preventDefault();
            ev.stopPropagation();
        });
        $("#close-button_list").on('click', function (ev) {
            $(".appointment-details").toggle();
            $("#save_medicine").hide();
            $(".form").show();
            ev.preventDefault();
        });
        $("#close_med").on('click', function (ev) {
            $(".appointment-details").toggle();
            $("#save_medicine").hide();
            $(".form").show();
        });

        $('.alert-autocloseable-success').hide();
        $("#add_medicine").on('click', function (ev) {
            $('.form-error').addClass('hidden-xs-up');
            $('.form-error').html('Please add all mandatory fields');
            $('#med_type_list').removeClass('error');
            $('input[name="generic_name"]').removeClass('error');
            $('input[name="brand_name"]').removeClass('error');
            $('input[name="dosage"]').removeClass('error');
            $('input[name="dosage_uom"]').removeClass('error');

            $("#form_5").get(0).reset();
            $('#med_brand_name').val($('#med_search').val());
            $('#dosage_list').val($("#dosage").val());
            $('#med_type_list').val($('#med_type').val());
            $("#save_medicine").show();
            $(".form").hide();
            $(".appointment-details").toggle();
        });
        showToaster_1 = function (message) {
            var x = $('#toaster_1');

            // Add the "show" class to DIV
            x.html(message);
            x.addClass("show");


            // After 3 seconds, remove the show class from DIV
            setTimeout(function(){ x.removeClass("show"); x.html('')}, 2000);
        };
        $('#save_med').click(function() {

            $('.form-error').addClass('hidden-xs-up');
            //  $('#brand_name').removeClass('error');
            $('#med_type_list').removeClass('error');
            $('input[name="generic_name"]').removeClass('error');
            $('input[name="brand_name"]').removeClass('error');
            $('input[name="dosage"]').removeClass('error');
            $('input[name="dosage_uom"]').removeClass('error');
            // $('#autoclosable-btn-success').prop("disabled", true);
            var formData = $("#form_5").serializeArray();
            med_data={};
            formData.map(function (feild) {
                med_data[feild.name] = feild.value;
            });
            if(validatedForm(med_data)) {
                getData.addMyMedicineList(med_data).then(function (res) {
                    if (!res.error.error_message) {
                        $("#api-success").removeClass('hidden-xs-up');
                        $("#api-success-message").show();
                        $("#api-success-message").html("Medicine details have been saved Successfully!!");
                        $('#api-success-message').delay(3000).fadeOut("slow", function (evt) {
                            $("#api-success").addClass('hidden-xs-up');
                            $("#api-success-message").html("");
                            $(".appointment-details").toggle();
                            $("#form_5").get(0).reset();
                            // $("#form3").get(0).reset();
                            $("#save_medicine").hide();
                            $(".form").fadeIn();
                        });
                    }
                    return res;
                });
            }
        });
        function validatedForm(formData){
            var isValid = true;
            $('.form-error').html('Please add all mandatory fields');
            $('.form-error').addClass('hidden-xs-up');
            //  $('#brand_name').removeClass('error');
            $('#med_type_list').removeClass('error');
            $('input[name="generic_name"]').removeClass('error');
            $('input[name="brand_name"]').removeClass('error');
            $('input[name="dosage"]').removeClass('error');
            $('input[name="dosage_uom"]').removeClass('error');

            if(formData['brand_name'] == ""){
                $('#med_brand_name').addClass('error');
                isValid =false;
            }
            if(formData['dosage'] == ""){
                $('#dosage_list').addClass('error');
                isValid =false;
            }
            if(formData['dosage_uom'] == ""){
                $('#units').addClass('error');
                isValid =false;
            }
            if(formData['med_type'] == undefined){
                $('#med_type_list').addClass('error');
                isValid =false;
            }

            if(!isValid){
                $('.form-error').removeClass('hidden-xs-up');
            }
            return isValid;
        }
        showPrescriptions = function (prescriptions_list) {
            prescription_data = prescriptions_list;
            var source = $("#prescriptiontable").html();
            var template = Handlebars.compile(source);
            var rows = prescriptions_list.map(function (data) {
                if (!data.delete_flag || data.delete_flag != 'Y') {
                    if(!!data.med_id){
                        data.prescription_id = data.med_id;
                    }
                    return template({prescription: data});
                }
            });
            $('#tab1').html(rows.join(''));
        };
        showPrescriptions(prescription_data);

        $("#add-prescription").click(function (evt) {
            var formData = $("#form3").serializeArray();
            evt.preventDefault();
            var data = {};
            var prescription_add =[];
            formData.map(function (feild) {
                data[feild.name] = feild.value;
            });

            if(!data.med_dosage_text){
                tmg_qty_string = data.morning + '-' + data.afternoon + '-' + data.night;
                tmg_qty_type= "std_MAE";
            }else{
                tmg_qty_string = data.med_dosage_text;
                tmg_qty_type = "others";
            }
            data.tmg_qty_string =  tmg_qty_string;
            data.tmg_qty_type = tmg_qty_type;
            data.course = data.course + ' ' + data.duration;
            data.med_name=data.med_search;
            if(validateForm(data)){
                if ($('.form').attr('data-id')) {
                    data.prescription_id = $('.form').attr('data-id');
                    debugger;
                    //console.log(data);
                    prescription_data = prescription_data.filter(function (p) {
                        return p.prescription_id != data.prescription_id;
                    })
                    $('.form').removeAttr('data-id');
                }else{
                    data.prescription_id='';
                }
                if(prescriptions_list) {
                    prescription_data.push(data);
                    prescription_add.push(data);
                    //prescriptions_list.push(data);
                    getData.UpdatePrescriptionDetails(appointment_id, prescription_add).then(function (res) {
                        showPrescriptions(res.prescription_details);
                        $('.form').hide();

                        if(!res.error.error_message){
                            $("#api-success").removeClass('hidden-xs-up');
                            $("#api-success-message").show();
                            if($("#add-prescription").text()=="Add") {
                                $("#api-success-message").html("Prescription Details are Added successfully !!");
                            }else{
                                $("#api-success-message").html("Prescription Details are Updated successfully !!");
                            }
                            $('#api-success-message').delay(3000).fadeOut("slow", function (evt) {
                                $("#api-success").addClass('hidden-xs-up');
                                $("#api-success-message").html("");
                            });
                        }
                        return res;
                    });
                }
            }
        });
        $("#save_continue").on("click", function (evt) {
            var next = $('#mytabs li.active').next();
            next.length ?
                next.find('a').click() :
                $('#mytabs li a')[2].click();
            evt.preventDefault();
        });
        if (apmt_status == "closed" || apmt_status == "expired") {
            $("#add_template").hide();
            $("#add").addClass('d-none');
            $("#save_continue").hide();
            $("#strong").hide();
            $(".search_template").addClass('d-none');
            $('#template_name').hide();
            $('#previous_prescription').hide();
            $(".action_buttons").addClass('d-none');
        }
        $('#tab1').on('click', '.edit', function (ev) {
            var id = ev.currentTarget.id.split('_')[1];
            $('#add-prescription').html('Update');
            var prescription = prescription_data.filter(function (p) {
                return p.prescription_id == id
            });
            if (prescription.length) {
                prescription = prescription[0];
            }
            $('.form').attr('data-id', prescription.prescription_id);
            $('#med_search').val(prescription.med_name);
            $("#med_type").val=$('#med_type').val(prescription.med_type);
            setUnit();
            //alert($("#med_type").val());
            //$('#med_type option[value="' + prescription.med_type + '"]').attr('selected', true);
            if(prescription.tmg_qty_type === "std_MAE"){
                $('#standard').click();
                $('.timings #morning').val(prescription.tmg_qty_string.split('-')[0]);
                $('.timings #afternoon').val(prescription.tmg_qty_string.split('-')[1]);
                $('.timings #evening').val(prescription.tmg_qty_string.split('-')[2]);

            }else{
                $('#free-text').click();
                $('#timings-text').val(prescription.tmg_qty_string);

                if(prescription.med_intake == 'After Food'){
                    //  console.log('inside after');
                    $('#after-food').prop('checked',true);
                }else if(prescription.med_intake == 'Before Food'){
                    //console.log('inside before');
                    $('#before-food').prop('checked',true);
                }else{
                    $('#after-food').prop('checked',false);
                    $('#before-food').prop('checked',false);
                }

            }
            $('#dosage').val(prescription.dosage);
            $('#txt_frequency').val(prescription.frequency);
            $('input[name="course"]').val(prescription.course.split(' ')[0]);
            $("#"+ prescription.course.toLowerCase().split(' ')[1]).prop('checked', true);
            if(prescription.course.toLowerCase().split(' ')[1]=="day") {
                $("#days").prop('checked', true);
            }else if(prescription.course.toLowerCase().split(' ')[1]=="week"){
                $("#weeks").prop('checked', true);
            }else if(prescription.course.toLowerCase().split(' ')[1]=="month"){
                $("#months").prop('checked', true);
            }

//            $('.duration input[value="' + prescription.course.split(' ')[1] + '"]').attr('checked', true);
            /*  $('input[value="' + prescription.med_intake + '"]').attr('checked', true);*/
            if(prescription.med_intake == 'After Food'){
                $('#after-food').prop('checked',true);
                //$('#after-food_1').prop('checked',true);
            }else if(prescription.med_intake == 'Before Food'){
                $('#before-food').prop('checked',true);
                //$('#before-food_1').prop('checked',false);
            }else{
                $('#after-food').prop('checked',false);
                //$('#after-food_1').prop('checked',true);
                $('#before-food').prop('checked',false);
                //$('#before-food_1').prop('checked',false);
            }

            $('textarea[name="remarks"]').text(prescription.remarks);
            $('.form').show();
        });
        $('#tab1').on('click', '.delete', function (ev) {
            var id = ev.currentTarget.id.split('_')[1];
            if (confirm('Are you sure want to delete this medicine?')) {
                prescription_data = prescription_data.map(function (p) {
                    if (p.prescription_id == id) {
                        p.delete_flag = 'Y';
                    }
                    return p;
                });
                getData.UpdatePrescriptionDetails(appointment_id, prescription_data).then(function (res) {
                    showPrescriptions(res.prescription_details);
                });
            }
        });
        $('#free-text-tab').hide();
        $('#standard').click(function (ev) {
            //$('#med_type option[value=""]').attr('selected', true);
            $('#morning').val('0');
            $('#afternoon').val('0');
            $('#evening').val('0');
            // setUnit();
            // setUnit();
            $('#standard').addClass('selected_1');
            $('#free-text').removeClass('selected_1');
            $('#timings-text').val('');
            $('#standard-tab').show();
            $('#free-text-tab').hide();

        });
        $('#free-text').click(function (ev) {
            $('#morning').val('');
            $('#afternoon').val('');
            $('#evening').val('');
            $('#free-text').addClass('selected_1');
            $('#standard').removeClass('selected_1');
            $('#standard-tab').hide();
            $('#free-text-tab').show();
        });
        $('.timings .fa-plus').on('click', function (ev) {
            var target = $(this).attr('for');
            var currentValue = $('#'+target).val();

            if($("#med_type").val()==null){
                $("#api-error").removeClass('hidden-xs-up');
                $("#api-error-message").show();
                $("#api-error-message").html("Please Select Medicine Type First !!");
            }

            if($("#med_search").val()=="") {
                $("#api-error").removeClass('hidden-xs-up');
                $("#api-error-message").show();
                $("#api-error-message").html("Please Select Medicine Name First !!");
            }
            else{
                $("#api-error").addClass('hidden-xs-up');
                $("#api-error-message").hide();
                $("#api-error-message").html("");
            }
            $("#med_type").on('change', function () {
                $("#api-error").addClass('hidden-xs-up');
                $("#api-error-message").hide();
                $("#api-error-message").html("");
            });

            currentValue = !!currentValue ?Number(currentValue) : undefined;
            if(currentValue){
                currentValue+=selectedPrescriptionDetails.baseQuantity;
            }else{
                currentValue=selectedPrescriptionDetails.baseQuantity;
            }
            $('#'+target).val(currentValue);
            ev.stopPropagation();
        });
        $('.timings .fa-minus').on('click', function (ev) {
            var target = $(this).attr('for')
            var currentValue = $('#'+target).val();

            if($("#med_type").val()==null){
                $("#api-error").removeClass('hidden-xs-up');
                $("#api-error-message").show();
                $("#api-error-message").html("Please Select Medicine Type First !!");
            }

            if($("#med_search").val()=="") {
                $("#api-error").removeClass('hidden-xs-up');
                $("#api-error-message").show();
                $("#api-error-message").html("Please Select Medicine Name First !!");
            }
            else{
                $("#api-error").addClass('hidden-xs-up');
                $("#api-error-message").hide();
                $("#api-error-message").html("");
            }
            $("#med_type").on('change', function () {
                $("#api-error").addClass('hidden-xs-up');
                $("#api-error-message").hide();
                $("#api-error-message").html("");
            });


            currentValue = !!currentValue ? Number(currentValue) :undefined;
            if(currentValue){
                currentValue-=selectedPrescriptionDetails.baseQuantity;
            }else{
                currentValue=selectedPrescriptionDetails.baseQuantity;
            }
            $('#'+target).val(currentValue);
            ev.stopPropagation();
        });

        $('#suggestions').on('click', 'a', function (ev) {
            var text = $(this).text();
            $('#timings-text').val($('#timings-text').val() + text);
        });

        $('#previous_prescription').change(function(ev){
            var apmt_id = $(this).children(":selected").attr("id");
            getData.getPrescription(apmt_id).then(function (res) {
                $(".template-modal-title").html("Previous Prescriptions");
                $('.add-template-alert').modal({
                    show: true
                });
                $("#replace").unbind().on("click", function (evt) {
                    prescription_data = prescription_data.map(function (p) {
                        p.delete_flag = 'Y';
                        return p;
                    });
                    //evt.preventDefault();
                    prescription_data   =   prescription_data.concat(res.prescription_details);
                    getData.UpdatePrescriptionDetails(appointment_id, prescription_data).then(function (rep) {
                        showPrescriptions(rep.prescription_details);
                    });
                    evt.preventDefault();
                });
                $("#append").unbind().on("click", function (evt) {
                    prescription_data = prescription_data.concat(res.prescription_details);
                    //evt.preventDefault();
                    getData.UpdatePrescriptionDetails(appointment_id, prescription_data).then(function (app) {
                        showPrescriptions(app.prescription_details);
                    });
                    evt.preventDefault();
                });
            });
		ev.preventDefault();
        });
    });
</script>
