<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.min.js"></script>
<script  type="text/x-handlebars-template" id="prescriptiontable">
	{{#prescription}}
	<tr>
		<td>{{med_name}}</td>
		<td>{{med_type}}</td>
		<td>{{med_dosage}}</td>
		<td>{{med_timings}}</td>
		<td>{{med_duration}}</td>
	</tr>

	{{/prescription}}
</script>
<div class="col-xs-12 appointment-details">
	<div class="form">
		<form id="form3">
			<div class="form-group">
				<input type="text" placeholder="Medicine name" id="med_name" name="med_name" class="form-control" title="Please enter a medicine name" required/>
				<div id="suggesstion-box"></div><p id="demo"></p>
			</div>
			<div class="form-group row">
				<label for="type" class="col-sm-2 col-form-label">Type</label>
				<div class="col-sm-10">
					<select class="custom-select form-control" name="med_type" pattern="Select the medicine type" required>
						<option value="" selected>Select medicine type</option>
						<option value="Pills">Pills</option>
						<option value="Injection">Injection</option>
						<option value="Syrup">Syrup</option>
					</select>
				</div>

			</div>
			<div class="form-group row">
				<label for="type" class="col-sm-2 col-form-label">Dosages</label>
				<div class="col-sm-6">
					<select class="custom-select form-control" name="med_dosage">
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="3">4</option>
						<option value="3">5</option>
					</select>
				</div>
				<div class="col-sm-4 medicin-unit">
					<div class="btn-group" data-toggle="buttons">
						<label class="btn btn-light active">
							<input type="radio" name="dosage_uom" value="mg" id="option1" autocomplete="off" checked> MG
						</label>
						<label class="btn btn-light">
							<input type="radio" name="dosage_uom" value="ml" id="option2" autocomplete="off"> ML
						</label>
					</div>
				</div>
			</div>
			<div class="form-group row timings">
				<label for="type" class="col-sm-2 col-form-label">When</label>
				<div class="col-sm-10">
					<div class="btn-group" data-toggle="buttons">
						<label class="btn btn-lg morning active">
							<input type="checkbox" name="timings_morning" id="mrng" checked autocomplete="off">
						</label>
						<label class="btn btn-lg noon">
							<input type="checkbox" name="timings_afternoon" id="noon" autocomplete="off">
						</label>
						<label class="btn btn-lg night">
							<input type="checkbox" name="timings_night" id="night" autocomplete="off">
						</label>
					</div>
				</div>
			</div>
			<div class="text-center form-group">or</div>
			<div class="form-group">
				<input type="text" name="med_dosage_text" placeholder="specify" class="form-control">
			</div>
			<div class="form-group row">

				<label for="type" class="col-form-label col-sm-2">Duration</label>
				<div class="col-sm-2">
					<input type="text" name="med_duration" class="form-control">
				</div>
				<div class="col-sm-5">
					<div class="btn-group duration" data-toggle="buttons">
						<label class="btn btn-sm active">
							<input type="radio" name="days" value="Days" checked autocomplete="off">Days
						</label>
						<label class="btn btn-sm">
							<input type="radio" name="weeks" value="Weeks" autocomplete="off">Weeks
						</label>
						<label class="btn btn-sm">
							<input type="radio" name="months" value="Months" autocomplete="off"> Months
						</label>
					</div>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-sm-2">
					<label for="type" class="col-form-label">Food</label>
				</div>
				<div class="col-sm-10">
					<div class="btn-group food" data-toggle="buttons">
						<label class="btn btn-sm btn-light active">
							<input type="radio" name="food_timings" value="Before Food" autocomplete="off" checked>Before
						</label>
						<label class="btn btn-sm btn-light">
							<input type="radio" name="food_timings" value="After Food" autocomplete="off">After
						</label>
					</div>
				</div>
			</div>
			<div class="form-group">
				<textarea class="form-control" id="exampleTextarea" name="instructions" placeholder="instructions..." rows="3"></textarea>
			</div>

			<div class="form-group rows">
				<button class="btn btn-success" id="add-prescription" type="submit">Add</button>

			</div>
		</form>
	</div>
	<hr/>
	<div>
		<div class="row">
			<div class="col-10">
				<h6>Prescribed Medications</h6>
			</div>
			<div class="col-2">
				<div id="add" class="btn btn-default fa fa-plus float-right btn-primary btn-sm"></div>
			</div>
		</div>


		<table class="table table-sm">
			<thead>
			<tr>
				<th>Name</th>
				<th>Type</th>
				<th>Dosage</th>
				<th>Food</th>
				<th>Freq</th>
				<th>Action</th>
			</tr>
			</thead>
			<tbody id="tab1">
			<tr >
				<td>
					Please add Prescriptions.
				</td>
			</tr>

			</tbody>
		</table>
		<button class="btn btn-primary" id="save_continue">Save & Continue</button>
	</div>

</div>

<script type="text/javascript">
    $(document).ready(function(){
        var prescription_data=[];
      /*  var medicine_data=[]; */
        $('.form').hide();
        $('#add').on('click', function(){
            $('.form').slideToggle();
        })
		var showPrescriptions = function(prescriptions_list){
            var source   = $("#prescriptiontable").html();
            var template = Handlebars.compile(source);
            var rows = prescriptions_list.map(function (data) {
				return template({prescription: data});
			});
            $('#tab1').html(rows.join(''));
		}
        $("#add-prescription").on("click",function(evt){
            var formData=$("#form3").serializeArray();
            evt.preventDefault();

            var data={};
            formData.map(function(feild){
                data[feild.name]=feild.value;
            });
			data.med_dosage=data.med_dosage+' '+data.dosage_uom;
            data.med_timings=Number(!!data.timings_morning)+'-'+Number(!!data.timings_afternoon)+'-'+Number(!!data.timings_night);
            var duration=data.days || data.weeks ||  data.months;
            data.med_duration=data.med_duration+' '+duration;
            prescription_data.push(data);
            showPrescriptions(prescription_data);
            $('.form').slideToggle();
            $("#form3").get(0).reset();
        });
        $("#save_continue").on("click",function(evt) {
            getData.UpdatePrescriptionDetails(appointment_id, prescription_data);
            evt.preventDefault();
        });

        /*	$("#autocomplete").autocomplete(function (evt) {
                getData.getMymedicineList(med);
                evt.preventDefault();
            });
    */
            /*$("#autocomplete").autocomplete(function(evt){
                debugger
                var formData=$("#autocomplete").serializeArray();
                var data={};
                formData.map(function(feild){
                    data[feild.name]=feild.value;
                });
                medicine_data.push(data);
                getData.getMymedicineList(medicine_data);
                evt.preventDefault();
            });*/

    });
</script>