
<script  type="text/x-handlebars-template" id="summarytable">

    I would like to summarize the online consultation with <b>Dr. NISHANT</b> on <b>	{{appointments_det.apmt_date}}</b> as below: <br>
    <b>Diagnosis: </b>{{Diagnosis}}<br>
    <b>Management Plan: </b>{{mgmt_plan}}<br>
    <b>Next Follow-up in: </b>{{followup_in}}<br>
    <b>Next Follow-up Consultation: </b>{{followup_date}}<br>
    <b>Suggested Tests: </b>{{suggested_test}}<br>
    <b>Suggested Investigations: </b>{{ga_notes}}<br>
    <b>Referred to Doctor: </b>{{reffered_doctor}}<br>
    </p>
    <p>
        Regards,<br>
        Dr. Nishant Verma
    </p>
    <p>
        (This is electronically generated consultation summary. Signature not required.)
    </p>
</script>
<div class="container col-12 pl-4 pr-4">
    <div class="row">
        <div class="col-xs-12 col-md-12 body-font" style="display:block;width:100%; padding-bottom:10px">
            <br>

            <form id="form4" method="get" data-toggle="validator" role="form" name="summary-form">
                <div class="form-group row">
                    <div class="col-6">
                        <label class="small-font control-label required field" for="diagnosis"><b>Patient Diagnosis / Diagnoses</b><span class="asteriskField">*</span></label>
                        <div class="input-group">
                            <input class="form-control col-md-10 form-input small-font input-height" type="text" id="diagnosis" name="diagnosis" placeholder="Enter diagnosis / diagnoses" title="Please enter Diagnosis" />
                        </div>
                    </div>
                    <div class="col-6">
                        <label class="control-label required field small-font" for="plan"><b>Management Plan / Advice</b><span class="asteriskField">*</span></label>
                        <div class="input-group">
                            <textarea class="form-control col-md-10 small-font" cols="40" id="mgmt_plan" name="mgmt_plan" rows="3" placeholder="Enter Management Plan"  title="Please enter details"></textarea>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-6">
                        <label class="control-label small-font" for="suggested_test">
                            <b>Suggested Tests</b>
                        </label>
                        <div class="input-group">
                            <input class="form-input col-10 small-font input-height" name="suggested_test" id="suggested_test" placeholder="Suggested Test">
                            <!--   <select class="test_id col-md-6" multiple="" name="suggested_test" id="suggested_test"></select>-->
                        </div>
                        <div id="suggested_test_list" class="pr-5 m-1 small-font">

                        </div>
                    </div>
                    <div class="col-6">
                        <label class="control-label small-font" for="follow_up">
                            <b>Next Follow-up?</b>
                            <div id="date-error-text"></div>
                        </label>



                        <div class="form-group row">
                            <div class="col-md-5 col-sm-12">
                                <div class="dropdown">
                                    <select class="col-12 followup form-input input-height small-font" name="followup_in" id="follow_up">
                                        <option name="followup_in" selected disabled>Select</option>
                                        <option id="No_Follow_up">No Follow-up</option>
                                        <option id="After_2_Days">After 2 Days</option>
                                        <option id="After_1_Week">After 1 Week</option>
                                        <option id="After_10_Days">After 10 Days</option>
                                        <option id="After_2_Weeks">After 2 Weeks</option>
                                        <option id="After_1_Month">After 1 Month</option>
                                        <option id="Others">Others</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-5 col-sm-12">
                                <div class="input-group">
                                    <input class="form-control form-input small-font input-height" type="text" id="followup_date" name="followup_date" />
                                    <div class="input-group-addon form-input" id="cal">
                                        <i class="fa fa-calendar-times-o"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-6">
                        <label class="control-label small-font" for="radio">
                            <b> Changes made to current medication?</b>
                        </label>
                        <div class="form-group row">
                            <div class="col-sm-4">
                                <div class="medicin-unit">
                                    <div class="btn-group" data-toggle="buttons">
                                        <label class="btn btn-light change_medication_yes active small-font">
                                            <input type="radio" name="change_medication" autocomplete="off" class="small-font input-height"> Yes
                                        </label>
                                        <label class="btn btn-light change_medication_no small-font">
                                            <input type="radio" name="change_medication" autocomplete="off" class="small-font  input-height"> No
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <label class="control-label small-font" for="waive">
                            <b>Waive Fee for this Consultation?</b>
                        </label>
                        <!-- <div class="row"> -->
                        <div class="form-group row">
                            <div class="col-md-6" >
                                <div class="medicin-unit">
                                    <div class="btn-group waiver" data-toggle="buttons">
                                        <label class="btn btn-light active No_fee small-font">
                                            <input type="radio" class="small-font input-height" name="waiver_status" value="No" id="No_fee" autocomplete="off" checked="checked"> No
                                        </label>
                                        <label class="btn btn-light Full_fee small-font">
                                            <input type="radio" class="small-font input-height"  name="waiver_status" value="Full" id="Full_fee" autocomplete="off"> Full
                                        </label>
                                        <label class="btn btn-light Partial_fee small-font">
                                            <input type="radio" class="small-font input-height"  name="waiver_status" value="Partial" id="Partial_fee" autocomplete="off"> Partial
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 input-control" id="ifPartial" style="display: none">
                                <label class="control-label fee">
                                    <input class="form-control form-input small-font input-height" type="text" name="waived_amount" id="p_check" autocomplete="off">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-6">
                        <label class="control-label small-font" for="refer">
                            <b> Consultation on Behalf of</b>
                        </label>
                        <div class="input-group">
                            <input class="form-control col-md-10 form-input small-font input-height" id="behalf_of" name="behalf_of" type="text" />
                        </div>
                    </div>

                    <div class="col-6">
                        <label class="control-label small-font" for="refer">
                            <b>  Referred to Doctor (Optional)</b>
                        </label>
                        <div class="input-group">
                            <input class="form-control col-md-10 form-input small-font input-height" id="reffered_doctor" name="reffered_doctor" type="text" />
                        </div>
                    </div>
                </div>
            </form>
            <div class="form-group-inline">
                <button class="btn btn-success body-font" id="save" type="submit">Save</button>
                <button class="btn btn-info text-center body-font" id="preview_summary" >Preview Summary</button>
                <button class="btn btn-danger body-font" id="close">Close</button>
               <!-- <div class="alert alert-success alert-autocloseable-success text-center mt-2 body-font">
                    Consultation Summary is saved Successfully !!
                </div>-->
                <!--    <button class="btn btn-primary col-md-2" id="print">Print</button> -->

                <a href="#"  id="print" data-target="#printPDF" data-toggle="modal" class="btn btn-primary body-font">Print</a>

                <span class="summary-form-error small-font"></span>
            </div>
        </div>


        <!--  <button class="btn-primary btn-sm text-center" id="close_consultation">Close Consultation</button>-->
        <!-- <div class="pdf">
         <button class="btn-success btn-lg text-center" id="generate_pdf">Generate PDF</button>
         </div>-->
        <div class="generate col-12">
            <button class="btn btn-info btn-sm body-font" id="edit_summary">Back</button>
            <div class="generate_preview"></div>
        </div>
    </div>

    <!--Modal to display pdf inside modal onclick print button  starts here-->
    <div class="modal fade bd-example-modal-lg" id="printPDF" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="document-title"></span>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                </div>

            </div>
        </div>
    </div>
    <!--Modal to display pdf inside modal onclick print button  end here-->




    <!--  <div class="modal fade bd-example-modal-lg" id="summary-prev"
     class="summary-prev"  tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog modal-lg" role="document">
             <div class="modal-content">
                 <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                         <span aria-hidden="true">&times;</span>
                     </button>
                     <h4 class="modal-title">Consultation Summary</h4>
                 </div>
                 <div class="modal-body-summary">

                 </div>

             </div>
         </div>
     </div> -->
    <div class="close-consultation modal fade bd-example-modal-lg" id="close-consultation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="close-consult modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close small-font" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="body-font fa fa-close"></span>
                    </button>
                    <h4 class="modal-title body-font">Close Consultation</h4>
                </div>
                <div class="modal-close-consultation body-font">
                    Do you want to close the current Consultation? You will not be able to edit details after closing the Consulation!!
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-success body-font" id="close-yes" data-dismiss="modal" >Yes</button>
                    <button type="button" class="btn btn-primary body-font" id="close-no" data-dismiss="modal" >No</button>
                </div>
            </div>
        </div>
    </div>
</div>




<script type="text/javascript">
    $(document).ready(function() {
        $("#print").hide();
        var rec_id;
        function validateForm(formData){
//console.log($('#followup_date').val());
            var fdate = $('#followup_date').val();
            var isValid = true;
            $('.form-error').addClass('hidden-xs-up');
            $('#diagnosis').removeClass('error');
            $('#mgmt_plan').removeClass('error');
            $('#followup_date').removeClass('error');
            $('.form-error').text('');

            if($('#diagnosis').val() == ''){
                $('#diagnosis').addClass('error');
                isValid =false;
            }
            if($('#mgmt_plan').val() == ''){
                $('#mgmt_plan').addClass('error');
                isValid =false;
            }

            var dateString = $("#followup_date").val();
            var myDate = new Date(dateString);
            var today = new Date();
            if ( myDate < today ) {
                $('#followup_date').addClass('error');
                isValid= false;
                $('#date-error-text').removeClass('d-none');
                $('#date-error-text').addClass('date-error');
                $('#date-error-text').html("Please Select a Date in the future!!");
            }
            else{
                $('#followup_date').removeClass('error');
                $('#date-error-text').addClass('d-none');
                $('#date-error-text').removeClass('date-error');
            }
           /* if(fdate  == ''){
                $('#followup_date').addClass('error');
                isValid =false;
            }*/

            if(isValid == false){
                $('.summary-form-error').text('Please fill the mandatory column');
            } else{
                $('.summary-form-error').text('');
            }

            return isValid;
        }


        // var consultation_id;
        var suggested_test_list = [];
        $("#suggested_test").autocomplete({
            minLength: 3,
            placeholder: "Search for a template",
            allowClear: true,
            classes: {
                "ui-autocomplete": "test"
            },
            source: function(req, response){

                getData.getLabTest(req.term).then(function(res){

                    $("#suggested_test").keypress(function(e) {
                        if (e.which == 13) {
                            if($(this).val()!=="") {
                               // debugger
                                suggested_test_list.push({test_id: "0", test_name: $(this).val()});
                                var tag = "<span class='tags small-font'>" + $(this).val() + "<i class='fa fa-times ml-1' id='" + 0 + "' aria-hidden='true'></i></span>";
                                $('#suggested_test_list').html($('#suggested_test_list').html() + tag);
                                $(this).val("");
                            }
                        }
                    });


                    /*if(res.labTest.tests=="")
                    {
                        $(this).val($("#suggested_test").val());
                        debugger;
                    }*/
                    response(res.labTest.tests.map(function (t) { return {label:t.labtest_name, id:t.labtest_id} }));
                });
            },
            select: function (ev, ui) {

                ev.preventDefault();
                $(this).val("");
                if(suggested_test_list.indexOf(ui.item.id)){
                    suggested_test_list.push({test_id: ui.item.id, test_name: ui.item.label});
                    var tag = "<span class='tags small-font'>"+ui.item.label+"<i class='fa fa-times ml-1' id='"+ui.item.id+"' aria-hidden='true'></i></span>";
                    $('#suggested_test_list').html($('#suggested_test_list').html() + tag);
                }
            }
        });
        $("select").on("select2:select", function (evt) {
            var element = evt.params.data.element;
            var $element = $(element);

            $element.detach();
            $(this).append($element);
            $(this).trigger("change");
        });
        $('.test_id').on('select2:select', function () {
            var test_id=$(".test_id").val();
            var test_name=$(".test_id").text();

            var suggested_test=[
                {
                    "test_id": test_id,
                    "test_name": test_name
                }];
            var data=JSON.stringify(suggested_test);
        });

        $("#preview_summary").on("click", function () {
            getData.previewConsultationSummary(appointment_id).then(function (res) {
                $(".generate").removeClass('d-none');
                $(".generate_preview").html(atob(res.document.body));
                $("#form4").hide();
                $("#save").hide();
                $("#preview_summary").hide();
                $("#close").hide();
            });
        });
        $(".generate").addClass('d-none');


        $("#print").click(function(){
            //var rec_id = this.id;
            $('.modal-body').html("<iframe class='iframe' src='https://doctor.growayu.com/growayuassist/view_med_record.php?health_record_id="+summary_record_id+"'></iframe>")
/*            var  objbuilder = '';
            var data ='';
            getData.getDocumentBlobData(hs_id,summary_record_id).then(function (res) {
                data=res.document.doc_data;
                objbuilder += ('<object width="100%" height="100%" data="data:application/pdf;base64,');
                objbuilder += (data);
                objbuilder += ('" type="application/pdf" class="internal">');
                objbuilder += ('<embed src="data:application/pdf;base64,');
                objbuilder += (data);
                objbuilder += ('" type="application/pdf"  />');
                objbuilder += ('</object>');
                $('.modal-body').html(objbuilder);*/
            });

        $("#edit_summary").on("click", function (evt) {
            $(".generate").addClass('d-none');
            $("#form4").show();
            $("#save").show();
            $("#preview_summary").show();
            $("#close").show();

        })

        var showSummary = function(data){
            var source   = $("#summarytable").html();
            var template = Handlebars.compile(source);
            $('#summary').html(template(data));
        };

        if(!summary_details && apmt_status=="closed"||apmt_status=="expired"){

            $("#save").hide();
            $("#preview_summary").hide();
            $("#edit_summary").hide();
            $("#close").hide();
            $("#start-vedio-consultation").hide();
            $('#form4 :input').attr('readonly', 'readonly');
            $("#follow_up")[0].disabled = true;
            $('.No_fee').addClass('disabled');
            $('.Full_fee').addClass('disabled');
            $('.Partial_fee').addClass('disabled');
            $('.fee').addClass('disabled');
            $("#followup_date").attr('disabled', 'disabled');
            $('.change_medication_yes').addClass('disabled');
            $('.change_medication_no').addClass('disabled');
            $("#p_check").attr('disabled', 'disabled');
           // $("#suggested_test").attr('disabled', 'disabled');

            getData.previewConsultationSummary(appointment_id).then(function (res) {
                $(".generate").removeClass('d-none');
                $(".generate_preview").html(res);
            });
        }

        /*      if(summary_details.suggested_test!= " ")
              {
                  var suggested_tests_details=summary_details.suggested_test.map(function (item) {
                      suggested_test=[
                      {
                          "test_id": item.test_id,
                          "test_name": item.test_name
                      }];
                  data=JSON.stringify(suggested_test);
                  suggested_test_list.push({test_id: item.test_id, test_name: item.test_name});
                  data.suggested_test = suggested_test_list;
                  });
              }
      */
        if(summary_details !="" ){
                if(apmt_status=="closed")
                {
  /*                  var suggested_tests=summary_details.test_names.split('~');
                    $("#suggested_test").val(suggested_tests);
                    debugger
                    for(var i=0; i<suggested_tests.length;i++)
                    {
                        var tag = "<span class='tags small-font'>"+suggested_tests[i]+"<i class='fa fa-times ml-1' aria-hidden='true'></i></span>";
                        $('#suggested_test_list').html($('#suggested_test_list').html() + tag);
                    }
*/

//                  Old Working Code
                    $("#suggested_test").val(summary_details.suggested_test.map(function (item) {return item.test_name}).join(', '));
                 //  $('#suggested_test_list').html($('#suggested_test').val());
                    $('#suggested_test').hover(function() {     //Won't work if suggested_test field is disabled
                        $('#suggested_test_list').html($('#suggested_test').val());
                        $('#suggested_test_list').addClass('text-justify col-10 pl-0 pr-0');
                        $('#suggested_test_list').removeClass('d-none');

                    },function(){
                        $('#suggested_test_list').addClass('d-none');
                        });
                }else{
                    // Old Working Code
                  var suggested_tests_details=summary_details.suggested_test.map(function (item) {

                      if(item.test_name!="") {
                            var tag = "<span class='tags small-font'>"+item.test_name+"<i class='fa fa-times ml-1' id='"+item.test_id+"' aria-hidden='true'></i></span>";
                            $('#suggested_test_list').html($('#suggested_test_list').html() + tag);
                          suggested_test_list.push({test_id: item.test_id, test_name: item.test_name});
                      }
                    });
               /*     if(summary_details.test_names) {
                        var suggested_tests = summary_details.test_names.split('~');
                        for (var i = 0; i < suggested_tests.length; i++) {
                            if (suggested_tests[i] != "") {
                                suggested_test_list.push({test_id: 0, test_name: suggested_tests[i]});
                            }
                        }
                    }
                    suggested_test_list.map(function (item) {
                        var tag = "<span class='tags small-font'>"+item.test_name+"<i class='fa fa-times ml-1' id='"+item.test_id+"' aria-hidden='true'></i></span>";
                           $('#suggested_test_list').html($('#suggested_test_list').html() + tag);
                    })*/
                }

            $("#diagnosis").val(summary_details.Diagnosis);
            $("#mgmt_plan").val(summary_details.mgmt_plan);
            $("#follow_up").val(summary_details.followup_in);
            $("#followup_date").val(summary_details.followup_date);
            $("#behalf_of").val(summary_details.on_behalf_of);

            if(summary_details.followup_date=="0000-00-00"){
              //  $('#follow_up').val("Others");
                if(summary_details.followup_in=="No Follow-up"){
                    $('#follow_up').val("No Follow-up");
                    $("#followup_date").val("");
                    $("#cal").addClass('d-none');
                }
                else{
                    $("#followup_date").val(summary_details.followup_in);
                    $("#cal").addClass('d-none');
                }
            }
            $("#reffered_doctor").val(summary_details.reffered_doctor);
            $("#p_check").val(summary_details.waived_amount);
            if(summary_details.waive_fee == 'Full'){
                $('.Full_fee').addClass('active');
                $('.No_fee').removeClass('active');
                $('.Partial_fee').removeClass('active');
                $("#p_check")[0].disabled = false;
                $("#ifPartial").show();
                $("#p_check").val(summary_details.waived_amount);
                //$('#p_check').attr('readonly', true);
                $("input[name='waiver_status']:checked").val(summary_details.waive_fee);
            }else if(summary_details.waive_fee == 'No'){
                $('.No_fee').addClass('active');
                $('.Full_fee').removeClass('active');
                $('.Partial_fee').removeClass('active');
                $("#ifPartial").hide();
                $("input[name='waiver_status']:checked").val(summary_details.waive_fee);
            }else {
                $('.Partial_fee').addClass('active');
                $('.Full_fee').removeClass('active');
                $('.No_fee').removeClass('active');
                $("#p_check")[0].disabled = false;
                $('#p_check').attr('readonly', false);
                $("#ifPartial").show();
                $("#p_check").val(summary_details.waived_amount);
                $("input[name='waiver_status']:checked").val(summary_details.waive_fee);
            }
            if(apmt_status=="closed" || apmt_status=="expired")
            {
                $("#save").hide();
                $("#preview_summary").hide();
                $("#edit_summary").hide();
                $("#close").hide();
                $("#form4").show();
                $("#print").show();
                $("#start-vedio-consultation").hide();
                $('#form4 :input').attr('readonly', 'readonly');
                $("#follow_up")[0].disabled = true;
                $('.No_fee').addClass('disabled');
                $('.Full_fee').addClass('disabled');
                $('.Partial_fee').addClass('disabled');
                $('.fee').addClass('disabled');
                $('.change_medication_yes').addClass('disabled');
                $('.change_medication_no').addClass('disabled');
                $("#followup_date").attr('disabled', 'disabled');
                $('#p_check').attr('readonly', true);
                $(".medicin-unit").on('click', function () {
                    return false;
                });
              //  $(".datepicker").addClass('d-none');
                //$("#followup_date").on('click', function () {
                  // $(this).datepicker("disable");
                    //$(".datepicker").addClass('d-none');
                    // debugger
                    //return false;
                //});


                // $("#suggested_test").attr('disabled', 'disabled');

                /*
                $(".waiver input[name='waiver_status']").attr('disabled', 'disabled');
                $(".btn-group input[name='change_medication']").attr('disabled', 'disabled');
                $("#No_fee").attr('disabled', 'disabled');
                $("#Full_fee").attr('disabled', 'disabled');
                $("#Partial_fee").attr('disabled', 'disabled');
                */

                // $("#p_check")[0].disabled = true;
            }
            //$("#p_check").val(summary_details.waived_amount);
            // $("#p_check").removeAttr('disabled');
        }
        $("#save").on("click",function(evt) {
            var formData = $("#form4").serializeArray();
            if(validateForm(formData)){
                evt.preventDefault();
                var data={};
                formData.map(function (feild) {
                    data[feild.name] = feild.value;
                });
                if(consultation_id) {
                    data.consultation_id=consultation_id;
                }
                data.suggested_test = suggested_test_list;
                data.notes = $('#note-content').val();
                getData.UpdateConsultationSummary(appointment_id,data).then(function (res) {
                   // debugger;
                    if(!res.error.error_message){
                        $("#api-success").removeClass('hidden-xs-up');
                        $("#api-success-message").show();
                        $("#api-success-message").html("Consultation Details are saved successfully !!");
                        $('#api-success-message').delay(3000).fadeOut("slow", function (evt) {
                            $("#api-success").addClass('hidden-xs-up');
                            $("#api-success-message").html("");
                           // showToaster("Consultation Details are saved successfully !!",top, 2000);

                        });
                        }
                    return res;
                });
            }
        });
   //     $('.alert-autocloseable-success').hide();

        $("#close-yes").on("click", function (evt) {
            getData.closeConsultation(appointment_id).then(function(res){

                    if(!res.error.error_message){
                        $("#api-success").removeClass('hidden-xs-up');
                        $("#api-success-message").show();
                        $("#api-success-message").html("Your Consultation is closed !!");
                        $('#api-success-message').delay(3000).fadeOut("slow", function (evt) {
                            $("#api-success").addClass('hidden-xs-up');
                            $("#api-success-message").html("");
                            var date = moment(appointment_date).format("YYYYMMDD");
                            getData.getDashboardData(date).then(function (res) {
                                appointment_list = res.appointments_details.appointment;
                                showDashboardDetails(res);
                                appointment_date = moment(date).format("YYYY-MM-DD");

                                $("#" + appointment_id).click();
                                var next = $('#mytabs li.active').next();
                                next.length ?
                                    next.find('a').click() :
                                    $('#mytabs li a')[2].click();
                            });
                        });
                        }
                        res.appointment_status=="closed";
                        summary_record_id=res.consultation.record_id;
                                        //New Code added what happens after close consultation
                                        $("#save").hide();
                                        $("#preview_summary").hide();
                                        $("#edit_summary").hide();
                                        $("#close").hide();
                                        $("#form4").show();
                                        $("#print").show();
                                        $("#start-vedio-consultation").hide();
                                        $('#form4 :input').attr('readonly', 'readonly');
                                        $("#follow_up")[0].disabled = true;
                                        $('.No_fee').addClass('disabled');
                                        $('.Full_fee').addClass('disabled');
                                        $('.Partial_fee').addClass('disabled');
                                        $('.fee').addClass('disabled');
                                        $('.change_medication_yes').addClass('disabled');
                                        $('.change_medication_no').addClass('disabled');
                                        $("#followup_date").attr('disabled', 'disabled');
                                        $('#p_check').attr('readonly', true);
                                        // Code Ended

                                    });
                                    evt.preventDefault();
                                });

                                $("#close").on("click",function(evt) {
                                    //console.log(evt);

                                    var formData = $("#form4").serializeArray();
                                    if(validateForm(formData)){
                                        evt.preventDefault();
                                        var data={};
                                        formData.map(function (feild) {
                                            data[feild.name] = feild.value;
                                        });
                                        if(consultation_id) {
                                            data.consultation_id=consultation_id;
                                        }
                                        data.suggested_test = suggested_test_list;
                                        data.notes = $('#note-content').val();
                                        getData.UpdateConsultationSummary(appointment_id,data).then(function (res) {

                                            if(!res.error.error_message) {
                                                // debugger;
                                                $('#close-consultation').modal({
                                                    show: true
                                                });
                                            }
                                            return res;
                                        });
                                    }
                                    evt.preventDefault();
                                });

                                $('#follow_up').change(function(){
                                    var followup_days = $('#follow_up').val();
                                    if(followup_days=="After 2 Days"){
                                        $("#followup_date").attr('disabled', false);
                                        $("#followup_date").val(moment().add(2,'days').format("YYYY-MM-DD"));
                                        //$("#followup_date").attr('readonly', true);
                                    }
                                    if(followup_days=="After 1 Week"){
                                        $("#followup_date").attr('disabled', false);
                                        $("#followup_date").val(moment().add(7,'days').format("YYYY-MM-DD"));
                                        //$("#followup_date").attr('readonly', true);
                                    }
                                    if(followup_days=="After 10 Days"){
                                        $("#followup_date").attr('disabled', false);
                                        $("#followup_date").val(moment().add(10,'days').format("YYYY-MM-DD"));
                                        //$("#followup_date").attr('readonly', true);
                                    }
                                    if(followup_days=="After 2 Weeks"){
                                        $("#followup_date").attr('disabled', false);
                                        $("#followup_date").val(moment().add(14,'days').format("YYYY-MM-DD"));
                                   //    $("#followup_date").attr('readonly', true);
                                    }
                                    if(followup_days=="After 1 Month"){
                                        $("#followup_date").attr('disabled', false);
                                        $("#followup_date").val(moment().add(30,'days').format("YYYY-MM-DD"));
                                       // $("#followup_date").attr('readonly', true);
                                    }
                                    if(followup_days=="Others"){
                                        $("#followup_date").attr('disabled', false);
                                        //$("#followup_date").attr('readonly', false);
                                        $("#followup_date").val("");
                                    }
                                    if(followup_days=="No Follow-up"){
                                        $("#followup_date").attr('disabled', true);
                                        $("#followup_date").val("");
                                    }
                                });
                                // $("#followup_date").attr('readonly', true);
                                var date_input=$('input[name="followup_date"]'); //our date input has the name "date"
                                var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
                                date_input.datepicker({
                                    format: 'yyyy-mm-dd',
                                    // container: container,
                                    changeMonth: true,
                                    changeYear: true,
                                    minDate: 0,
                                    todayHighlight: true,
                                    autoclose: true
                                }).on('changeDate', function() {
                                    if($('input[name="followup_date"]').val()==moment().add(2,'days').format("YYYY-MM-DD")){
                                        $('#follow_up').val("After 2 Days");
                                    }else if($('input[name="followup_date"]').val()==moment().add(7,'days').format("YYYY-MM-DD")){
                                        $('#follow_up').val("After 1 Week");
                                    }else if($('input[name="followup_date"]').val()==moment().add(10,'days').format("YYYY-MM-DD")){
                                        $('#follow_up').val("After 10 Days");
                                    }else if($('input[name="followup_date"]').val()==moment().add(14,'days').format("YYYY-MM-DD")){
                                        $('#follow_up').val("After 2 Weeks");
                                    }else if($('input[name="followup_date"]').val()==moment().add(30,'days').format("YYYY-MM-DD")) {
                                        $('#follow_up').val("After 1 Month");
                                    }else if($('input[name="followup_date"]').val()=="0000-00-00"){
                                            $('#follow_up').val("No Follow-up");
                                    }else{
                                        $('#follow_up').val("Others");
                                    }
                                    var dateString = $("#followup_date").val();
                                    var myDate = new Date(dateString);
                                    var today = new Date();
                                    if ( myDate < today ) {
                                        $('#date-error-text').removeClass('d-none');
                                        $("#followup_date").addClass('error');
                                        $('#date-error-text').addClass('date-error');
                                        $('#date-error-text').html("Please Select a Date in the future!!");
                                        return false;
                                    }
                                    else{
                                        $('#date-error-text').addClass('d-none');
                                        $('#date-error-text').removeClass('date-error');
                                        $("#followup_date").removeClass('error')

                                    }
                                    return true;


                                });
                                $("input[name='waiver_status']").change(function(){
                                    if($(this).val()=="Partial"){
                                        $("#p_check")[0].disabled = false;
                                        $('#p_check').attr('readonly', false);
                                        $("#ifPartial").show();
                                        $("#p_check").val("");
                                    }else if($(this).val()=="Full"){
                                        $("#p_check")[0].disabled = false;
                                        $("#ifPartial").show();
                                        $("#p_check").val("");
                                        // $("#p_check").val("1000");
                                        // $('#p_check').attr('readonly', true);
                                    }else{
                                        $("#ifPartial").hide();
                                    }
                                });
                                $('#suggested_test_list').on('click', '.fa-times' ,function (ev) {

                                    var id = ev.target.id;
                                    suggested_test_list.splice(suggested_test_list.indexOf(id), 1);
                                    $(this).parent().remove();
                                });

                                /*  $("#print").on("click", function () {
                                    alert(123);
                                    getData.previewConsultationSummary(appointment_id).then(function (res) {
                                        window.open("data:application/pdf;base64, " + res.document.body);
                                    });
                                });*/
        /* window.open("data:application/pdf;base64, " + res.document.body);*/
    });

</script>