<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="./js/bootstrap-datepicker.min.js"></script>




    <title></title>

</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-12" style="display:block;width:100%; padding-bottom:10px">
            <br>

            <form id="form4">
                <div class="form-group">
                    <label class="control-label required field" for="diagnosis"><strong>Patient Diagnosis / Diagnoses</strong><span class="asteriskField">*</span></label>

                    <div class="input-group">
                    <input class="form-control" type="text" id="diagnosis" name="Diagnosis" placeholder="Enter diagnosis / diagnoses" title="Please enter Diagnosis" required />

                    </div></div>

                <div class="form-group">

                    <label class="control-label required field" for="plan"><strong>Management Plan / Advice</strong><span class="asteriskField">*</span></label>

                    <div class="input-group">
                    <textarea class="form-control" cols="40" id="advice" name="mgmt_plan" rows="3"  title="Please enter details" required></textarea>
                    </div></div>

                <div class="form-group">
                    <label class="control-label" for="radio">
                        <strong> Changes made to current medication?</strong>
                    </label>
                    <div class="form-group row">
                        <div class="col-sm-4">
                             <div class="medicin-unit">
                                   <div class="btn-group" data-toggle="buttons">
                                       <label class="btn btn-light active">
                                           <input type="radio" name="options" id="option1" autocomplete="off"> Yes
                                       </label>
                            <label class="btn btn-light">
                                <input type="radio" name="options" id="option2" autocomplete="off"> No
                            </label>
                        </div>
                    </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">

                    <label class="control-label" for="waive">
                        <strong>Waive Fee for this Consultation?</strong>
                    </label>
                    <!-- <div class="row"> -->
                    <div class="form-group row">
                        <div class="col-sm-4 col-md-3" >
                            <div class="medicin-unit">
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-light active">
                                    <input type="radio" name="waiver_status" value="No" id="No_fee" autocomplete="off"> No
                                </label>
                                <label class="btn btn-light">
                                    <input type="radio" name="waive_status" value="Full" id="Full_fee" autocomplete="off"> Full
                                </label>
                                <label class="btn btn-light">
                                    <input type="radio" name="waive_status" value="Partial" id="Partial_fee" autocomplete="off"> Partial
                                </label>
                            </div></div></div>
                        <div class="col-sm-4 col-md-4 input-control" id="ifPartial" style="display: none">

                                <!--      <div class="input-group ifPartial" class="col-md-6 col-sm-6">-->
                                <label class="control-label">
                                    <input class="form-control" type="text" name="waived_amount" id="p_check" autocomplete="off">
                                </label>
                                <!--</div> --></div>
                    </div></div>




                <div class="form-group">
                    <label class="control-label" for="follow_up">
                        <strong>Next Follow-up?</strong>
                    </label>


                    <div class="form-group row">
                        <div class="col-md-3 col-sm-12">
                            <div class="dropdown">
                                <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle btn-md col-sm-12" id="follow_up">
                                    <strong><span id="select_dropdown"> Select  </span></strong>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu text-center">
                                    <li id="After_1_Week" name="followup_in">After 1 Week</li>
                                    <li id="After_10_Days" name="followup_in">After 10 Days</li>
                                    <li id="After_2_Weeks" name="followup_in">After 2 Weeks</li>
                                    <li id="After_1_Month" name="followup_in">After 1 Month</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="input-group">
                                <input class="form-control" type="text" id="followup_date" name="followup_date" />
                                <div class="input-group-addon" id="cal">
                                    <i class="fa fa-calendar-times-o">
                                    </i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">

                    <label class="control-label" for="suggested_invest"><strong>Suggested Investigations (Optional)</strong></label>

                    <div class="input-group">
                        <textarea class="form-control" cols="40" id="suggested_invest" name="suggested_test" rows="3"></textarea>
                    </div></div>

                <div class="form-group ">

                    <label class="control-label " for="refer">
                        <strong>  Referred to Doctor (Optional)</strong>
                    </label>
                    <div class="input-group">
                        <input class="form-control" id="refer" name="doctor_notes" type="text" />
                    </div></div>

                <div class="form-group-inline">


                    <div class="btn btn-success col-md-1" id="save">Save</div>


                    <div class="btn btn-info col-md-1" id="close">Close</div>


                </div>

            </form>
        </div>
    </div>
</div>


</body>
</html>

<script type="text/javascript">
    $(document).ready(function(){
        var summary_data=[];

        $("#save").on("click",function(evt){
            var formData=$("#form4").serializeArray();
            evt.preventDefault();
            var data={};
            formData.map(function(feild){
                data[feild.name]=feild.value;
            });
            getData.UpdateConsultationSummary(appointment_id, summary_data);
            evt.preventDefault();
        });

    /*    $("#close").on("click",function(evt){
            var formData=$("#form4").serializeArray();
            evt.preventDefault();
            var data={};
            formData.map(function(feild){
                data[feild.name]=feild.value;
            });
            getData.CloseConsultation(appointment_id);
            evt.preventDefault();
        }); */

        $("#After_1_Week").click(function(){
            var today=moment().add(7, 'days').format("MMM Do YY");
            //today=moment().format("MMM Do YY");
            var day=moment().add(7,'days').format('dddd');
            document.getElementById('followup_date').value = day+', '+today;
        });
        $("#After_10_Days").click(function(){
           var today=moment().add(10, 'days').format("MMM Do YY");
            //today=moment().format("MMM Do YY");
           var day=moment().add(10,'days').format('dddd');
            document.getElementById('followup_date').value = day+', '+today;
        });
        $("#After_2_Weeks").click(function(){
            var today=moment().add(14, 'days').format("MMM Do YY");
            //today=moment().format("MMM Do YY");
            var day=moment().add(14,'days').format('dddd');
            document.getElementById('followup_date').value = day+', '+today;
        });
        $("#After_1_Month").click(function(){
            var today=moment().add(30, 'days').format("MMM Do YY");
            //today=moment().format("MMM Do YY");
            var day=moment().add(30,'days').format('dddd');
            document.getElementById('followup_date').value = day+', '+today;
        });
	
	 var date_input=$('input[name="followup_date"]'); //our date input has the name "date"
            var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
            date_input.datepicker({
                format: 'DD, dd-M-yy',
                container: container,
                todayHighlight: true,
                autoclose: true,
            });

        $("input[name='waive_status']").change(function(){
            if($(this).val()=="Partial")
            {
                $("#p_check")[0].disabled = false;
                $("#ifPartial").show();
                $("#p_check").val("");
            }
            else if($(this).val()=="Full")
            {
                $("#p_check")[0].disabled = true;
                $("#ifPartial").show();
                $("#p_check").val("1000");
            }
            else
            {
                $("#ifPartial").hide();
            }
        });
    });
</script>